Repository googleapis/java-bigtable-hbase, pull requests merged in 2020-12, with the labels that each got.

#2705 chore: Bump next snapshot
  bigtable-client-core-parent/bigtable-client-core/pom.xml
  bigtable-client-core-parent/bigtable-hbase-integration-tests-common/pom.xml
  bigtable-client-core-parent/bigtable-hbase/pom.xml
  bigtable-client-core-parent/pom.xml
  bigtable-dataflow-parent/bigtable-beam-import/pom.xml
  bigtable-dataflow-parent/bigtable-hbase-beam/pom.xml
  bigtable-dataflow-parent/pom.xml
  bigtable-hbase-1.x-parent/bigtable-hbase-1.x-benchmarks/pom.xml
  bigtable-hbase-1.x-parent/bigtable-hbase-1.x-hadoop/pom.xml
  bigtable-hbase-1.x-parent/bigtable-hbase-1.x-integration-tests/pom.xml
  bigtable-hbase-1.x-parent/bigtable-hbase-1.x-mapreduce/pom.xml
  bigtable-hbase-1.x-parent/bigtable-hbase-1.x-shaded/pom.xml
  bigtable-hbase-1.x-parent/bigtable-hbase-1.x/pom.xml
  bigtable-hbase-1.x-parent/pom.xml
  bigtable-hbase-2.x-parent/bigtable-hbase-2.x-hadoop/pom.xml
  bigtable-hbase-2.x-parent/bigtable-hbase-2.x-integration-tests/pom.xml
  bigtable-hbase-2.x-parent/bigtable-hbase-2.x-shaded/pom.xml
  bigtable-hbase-2.x-parent/bigtable-hbase-2.x/pom.xml
  bigtable-hbase-2.x-parent/pom.xml
  bigtable-test/bigtable-emulator-maven-plugin/pom.xml
  bigtable-test/pom.xml
  pom.xml
  versions.txt
Labels: api: bigtable, cla: yes

#2717 feat: Adding timeouts for RPC Retry Attempts for HBase client (on bigtable-1.x branch)
  bigtable-client-core-parent/bigtable-client-core/pom.xml
  bigtable-client-core-parent/bigtable-client-core/src/main/java/com/google/cloud/bigtable/config/CallOptionsConfig.java
  bigtable-client-core-parent/bigtable-client-core/src/main/java/com/google/cloud/bigtable/grpc/BigtableDataClient.java
  bigtable-client-core-parent/bigtable-client-core/src/main/java/com/google/cloud/bigtable/grpc/BigtableDataGrpcClient.java
  bigtable-client-core-parent/bigtable-client-core/src/main/java/com/google/cloud/bigtable/grpc/BigtableSession.java
  bigtable-client-core-parent/bigtable-client-core/src/main/java/com/google/cloud/bigtable/grpc/BigtableTableAdminGrpcClient.java
  bigtable-client-core-parent/bigtable-client-core/src/main/java/com/google/cloud/bigtable/grpc/CallOptionsFactory.java
  bigtable-client-core-parent/bigtable-client-core/src/main/java/com/google/cloud/bigtable/grpc/ConfiguredDeadlineGeneratorFactory.java
  bigtable-client-core-parent/bigtable-client-core/src/main/java/com/google/cloud/bigtable/grpc/DeadlineGenerator.java
  bigtable-client-core-parent/bigtable-client-core/src/main/java/com/google/cloud/bigtable/grpc/DeadlineGeneratorFactory.java
  bigtable-client-core-parent/bigtable-client-core/src/main/java/com/google/cloud/bigtable/grpc/async/AbstractRetryingOperation.java
  bigtable-client-core-parent/bigtable-client-core/src/main/java/com/google/cloud/bigtable/grpc/async/RetryingMutateRowsOperation.java
  bigtable-client-core-parent/bigtable-client-core/src/main/java/com/google/cloud/bigtable/grpc/async/RetryingStreamOperation.java
  bigtable-client-core-parent/bigtable-client-core/src/main/java/com/google/cloud/bigtable/grpc/async/RetryingUnaryOperation.java
  bigtable-client-core-parent/bigtable-client-core/src/main/java/com/google/cloud/bigtable/grpc/scanner/RetryingReadRowsOperation.java
  bigtable-client-core-parent/bigtable-client-core/src/test/java/com/google/cloud/bigtable/grpc/TestDeadlineGeneratorFactory.java
  bigtable-client-core-parent/bigtable-client-core/src/test/java/com/google/cloud/bigtable/grpc/async/TestRetryingMutateRowsOperation.java
  bigtable-client-core-parent/bigtable-client-core/src/test/java/com/google/cloud/bigtable/grpc/async/TestRetryingUnaryOperation.java
  bigtable-client-core-parent/bigtable-client-core/src/test/java/com/google/cloud/bigtable/grpc/scanner/RetryingReadRowsOperationTest.java
  bigtable-client-core-parent/bigtable-hbase/src/main/java/com/google/cloud/bigtable/hbase/BigtableOptionsFactory.java
  bigtable-hbase-1.x-parent/bigtable-hbase-1.x-integration-tests/pom.xml
  bigtable-hbase-1.x-parent/bigtable-hbase-1.x-integration-tests/src/test/java/com/google/cloud/bigtable/hbase/IntegrationTests.java
  bigtable-hbase-1.x-parent/bigtable-hbase-1.x-integration-tests/src/test/java/com/google/cloud/bigtable/hbase/TestRpcRetryBehavior.java
  bigtable-hbase-1.x-parent/bigtable-hbase-1.x-integration-tests/src/test/java/com/google/cloud/bigtable/hbase/TestRpcRetryBehaviorCheckAndMutateRow.java
  bigtable-hbase-1.x-parent/bigtable-hbase-1.x-integration-tests/src/test/java/com/google/cloud/bigtable/hbase/TestRpcRetryBehaviorGetMultiple.java
  bigtable-hbase-1.x-parent/bigtable-hbase-1.x-integration-tests/src/test/java/com/google/cloud/bigtable/hbase/TestRpcRetryBehaviorGetSingle.java
  bigtable-hbase-1.x-parent/bigtable-hbase-1.x-integration-tests/src/test/java/com/google/cloud/bigtable/hbase/TestRpcRetryBehaviorPutMultiple.java
  bigtable-hbase-1.x-parent/bigtable-hbase-1.x-integration-tests/src/test/java/com/google/cloud/bigtable/hbase/TestRpcRetryBehaviorPutSingle.java
  pom.xml
Labels: api: bigtable, cla: yes

#2727 chore: Release cloud-bigtable-client v1.18.0
  bigtable-client-core-parent/bigtable-client-core/pom.xml
  bigtable-client-core-parent/bigtable-hbase-integration-tests-common/pom.xml
  bigtable-client-core-parent/bigtable-hbase/pom.xml
  bigtable-client-core-parent/pom.xml
  bigtable-dataflow-parent/bigtable-beam-import/pom.xml
  bigtable-dataflow-parent/bigtable-hbase-beam/pom.xml
  bigtable-dataflow-parent/pom.xml
  bigtable-hbase-1.x-parent/bigtable-hbase-1.x-benchmarks/pom.xml
  bigtable-hbase-1.x-parent/bigtable-hbase-1.x-hadoop/pom.xml
  bigtable-hbase-1.x-parent/bigtable-hbase-1.x-integration-tests/pom.xml
  bigtable-hbase-1.x-parent/bigtable-hbase-1.x-mapreduce/pom.xml
  bigtable-hbase-1.x-parent/bigtable-hbase-1.x-shaded/pom.xml
  bigtable-hbase-1.x-parent/bigtable-hbase-1.x/pom.xml
  bigtable-hbase-1.x-parent/pom.xml
  bigtable-hbase-2.x-parent/bigtable-hbase-2.x-hadoop/pom.xml
  bigtable-hbase-2.x-parent/bigtable-hbase-2.x-integration-tests/pom.xml
  bigtable-hbase-2.x-parent/bigtable-hbase-2.x-shaded/pom.xml
  bigtable-hbase-2.x-parent/bigtable-hbase-2.x/pom.xml
  bigtable-hbase-2.x-parent/pom.xml
  bigtable-test/bigtable-emulator-maven-plugin/pom.xml
  bigtable-test/pom.xml
  pom.xml
  versions.txt
Labels: api: bigtable, cla: yes

#2728 chore: Bump next snapshot
  bigtable-client-core-parent/bigtable-client-core/pom.xml
  bigtable-client-core-parent/bigtable-hbase-integration-tests-common/pom.xml
  bigtable-client-core-parent/bigtable-hbase/pom.xml
  bigtable-client-core-parent/pom.xml
  bigtable-dataflow-parent/bigtable-beam-import/pom.xml
  bigtable-dataflow-parent/bigtable-hbase-beam/pom.xml
  bigtable-dataflow-parent/pom.xml
  bigtable-hbase-1.x-parent/bigtable-hbase-1.x-benchmarks/pom.xml
  bigtable-hbase-1.x-parent/bigtable-hbase-1.x-hadoop/pom.xml
  bigtable-hbase-1.x-parent/bigtable-hbase-1.x-integration-tests/pom.xml
  bigtable-hbase-1.x-parent/bigtable-hbase-1.x-mapreduce/pom.xml
  bigtable-hbase-1.x-parent/bigtable-hbase-1.x-shaded/pom.xml
  bigtable-hbase-1.x-parent/bigtable-hbase-1.x/pom.xml
  bigtable-hbase-1.x-parent/pom.xml
  bigtable-hbase-2.x-parent/bigtable-hbase-2.x-hadoop/pom.xml
  bigtable-hbase-2.x-parent/bigtable-hbase-2.x-integration-tests/pom.xml
  bigtable-hbase-2.x-parent/bigtable-hbase-2.x-shaded/pom.xml
  bigtable-hbase-2.x-parent/bigtable-hbase-2.x/pom.xml
  bigtable-hbase-2.x-parent/pom.xml
  bigtable-test/bigtable-emulator-maven-plugin/pom.xml
  bigtable-test/pom.xml
  pom.xml
  versions.txt
Labels: api: bigtable, cla: yes

#2737 chore: Update publish_javadoc.sh
  .kokoro/release/publish_javadoc.sh
  synth.metadata
Labels: api: bigtable, automerge, cla: yes, context: full

#2738 fix: update readRowsAsync to use RetryingReadRowsOperation
  bigtable-client-core-parent/bigtable-client-core/src/main/java/com/google/cloud/bigtable/grpc/BigtableDataGrpcClient.java
  bigtable-client-core-parent/bigtable-client-core/src/test/java/com/google/cloud/bigtable/grpc/TestBigtableDataGrpcClient.java
Labels: api: bigtable, cla: yes

#2740 deps: update bigtable.version to 1.19.0
  bigtable-client-core-parent/bigtable-client-core/pom.xml
  bigtable-hbase-2.x-parent/bigtable-hbase-2.x-integration-tests/pom.xml
  pom.xml
Labels: api: bigtable, cla: yes

#2741 chore: synth updates for 1.x branch
  .kokoro/common.sh
  .kokoro/readme.sh
  .kokoro/release/publish_javadoc.cfg
  .kokoro/release/publish_javadoc.sh
  .kokoro/release/stage.sh
Labels: api: bigtable, automerge, cla: yes

#2742 fix: fix race condition where a retry triggers a full table scan
  bigtable-client-core-parent/bigtable-client-core/src/main/java/com/google/cloud/bigtable/grpc/scanner/ReadRowsRequestManager.java
  bigtable-client-core-parent/bigtable-client-core/src/main/java/com/google/cloud/bigtable/grpc/scanner/RetryingReadRowsOperation.java
  bigtable-client-core-parent/bigtable-client-core/src/test/java/com/google/cloud/bigtable/grpc/TestBigtableDataGrpcClient.java
  bigtable-client-core-parent/bigtable-client-core/src/test/java/com/google/cloud/bigtable/grpc/scanner/RetryingReadRowsOperationTest.java
Labels: api: bigtable, cla: yes

#2745 revert: Revert "fix: update readRowsAsync to use RetryingReadRowsOperation (#2738)
  bigtable-client-core-parent/bigtable-client-core/src/main/java/com/google/cloud/bigtable/grpc/BigtableDataGrpcClient.java
  bigtable-client-core-parent/bigtable-client-core/src/test/java/com/google/cloud/bigtable/grpc/TestBigtableDataGrpcClient.java
Labels: api: bigtable, cla: yes

#2746 chore: Release cloud-bigtable-client v1.18.1
  bigtable-client-core-parent/bigtable-client-core/pom.xml
  bigtable-client-core-parent/bigtable-hbase-integration-tests-common/pom.xml
  bigtable-client-core-parent/bigtable-hbase/pom.xml
  bigtable-client-core-parent/pom.xml
  bigtable-dataflow-parent/bigtable-beam-import/pom.xml
  bigtable-dataflow-parent/bigtable-hbase-beam/pom.xml
  bigtable-dataflow-parent/pom.xml
  bigtable-hbase-1.x-parent/bigtable-hbase-1.x-benchmarks/pom.xml
  bigtable-hbase-1.x-parent/bigtable-hbase-1.x-hadoop/pom.xml
  bigtable-hbase-1.x-parent/bigtable-hbase-1.x-integration-tests/pom.xml
  bigtable-hbase-1.x-parent/bigtable-hbase-1.x-mapreduce/pom.xml
  bigtable-hbase-1.x-parent/bigtable-hbase-1.x-shaded/pom.xml
  bigtable-hbase-1.x-parent/bigtable-hbase-1.x/pom.xml
  bigtable-hbase-1.x-parent/pom.xml
  bigtable-hbase-2.x-parent/bigtable-hbase-2.x-hadoop/pom.xml
  bigtable-hbase-2.x-parent/bigtable-hbase-2.x-integration-tests/pom.xml
  bigtable-hbase-2.x-parent/bigtable-hbase-2.x-shaded/pom.xml
  bigtable-hbase-2.x-parent/bigtable-hbase-2.x/pom.xml
  bigtable-hbase-2.x-parent/pom.xml
  bigtable-test/bigtable-emulator-maven-plugin/pom.xml
  bigtable-test/pom.xml
  pom.xml
  versions.txt
Labels: api: bigtable, cla: yes

#2747 Bump next snapshot
  bigtable-client-core-parent/bigtable-client-core/pom.xml
  bigtable-client-core-parent/bigtable-hbase-integration-tests-common/pom.xml
  bigtable-client-core-parent/bigtable-hbase/pom.xml
  bigtable-client-core-parent/pom.xml
  bigtable-dataflow-parent/bigtable-beam-import/pom.xml
  bigtable-dataflow-parent/bigtable-hbase-beam/pom.xml
  bigtable-dataflow-parent/pom.xml
  bigtable-hbase-1.x-parent/bigtable-hbase-1.x-benchmarks/pom.xml
  bigtable-hbase-1.x-parent/bigtable-hbase-1.x-hadoop/pom.xml
  bigtable-hbase-1.x-parent/bigtable-hbase-1.x-integration-tests/pom.xml
  bigtable-hbase-1.x-parent/bigtable-hbase-1.x-mapreduce/pom.xml
  bigtable-hbase-1.x-parent/bigtable-hbase-1.x-shaded/pom.xml
  bigtable-hbase-1.x-parent/bigtable-hbase-1.x/pom.xml
  bigtable-hbase-1.x-parent/pom.xml
  bigtable-hbase-2.x-parent/bigtable-hbase-2.x-hadoop/pom.xml
  bigtable-hbase-2.x-parent/bigtable-hbase-2.x-integration-tests/pom.xml
  bigtable-hbase-2.x-parent/bigtable-hbase-2.x-shaded/pom.xml
  bigtable-hbase-2.x-parent/bigtable-hbase-2.x/pom.xml
  bigtable-hbase-2.x-parent/pom.xml
  bigtable-test/bigtable-emulator-maven-plugin/pom.xml
  bigtable-test/pom.xml
  pom.xml
  versions.txt
Labels: api: bigtable, automerge, cla: yes

#2757 fix: update readRowsAsync to use RetryingReadRowsOperation (1x)
  bigtable-client-core-parent/bigtable-client-core/src/main/java/com/google/cloud/bigtable/grpc/BigtableDataGrpcClient.java
  bigtable-client-core-parent/bigtable-client-core/src/test/java/com/google/cloud/bigtable/grpc/TestBigtableDataGrpcClient.java
Labels: api: bigtable, cla: yes

#2756 fix: Non-retriable operations should ignore attempt timeout and default to RPC timeout instead
  bigtable-client-core-parent/bigtable-client-core/src/main/java/com/google/cloud/bigtable/grpc/BigtableDataGrpcClient.java
  bigtable-client-core-parent/bigtable-client-core/src/main/java/com/google/cloud/bigtable/grpc/BigtableTableAdminGrpcClient.java
  bigtable-client-core-parent/bigtable-client-core/src/main/java/com/google/cloud/bigtable/grpc/ConfiguredDeadlineGeneratorFactory.java
  bigtable-client-core-parent/bigtable-client-core/src/main/java/com/google/cloud/bigtable/grpc/DeadlineGeneratorFactory.java
  bigtable-client-core-parent/bigtable-client-core/src/test/java/com/google/cloud/bigtable/grpc/TestDeadlineGeneratorFactory.java
  bigtable-hbase-1.x-parent/bigtable-hbase-1.x-integration-tests/src/test/java/com/google/cloud/bigtable/hbase/TestRpcRetryBehavior.java
  bigtable-hbase-1.x-parent/bigtable-hbase-1.x-integration-tests/src/test/java/com/google/cloud/bigtable/hbase/TestRpcRetryBehaviorCheckAndMutateRow.java
Labels: api: bigtable, cla: yes

#2764 Remove disrespectful terms
  bigtable-client-core-parent/bigtable-client-core/src/main/java/com/google/cloud/bigtable/grpc/async/AbstractRetryingOperation.java
Labels: api: bigtable, cla: yes

#2766 deps: update veneer version to 1.19.2
  pom.xml
Labels: api: bigtable, cla: yes

#2722 test: use random with permanent seed
  bigtable-client-core-parent/bigtable-client-core/src/test/java/com/google/cloud/bigtable/grpc/async/TestBulkRead.java
Labels: api: bigtable, cla: yes

#2758 fix: race condition where a retry triggers a full table scan
  bigtable-client-core-parent/bigtable-client-core/src/main/java/com/google/cloud/bigtable/grpc/scanner/ReadRowsRequestManager.java
  bigtable-client-core-parent/bigtable-client-core/src/main/java/com/google/cloud/bigtable/grpc/scanner/RetryingReadRowsOperation.java
  bigtable-client-core-parent/bigtable-client-core/src/test/java/com/google/cloud/bigtable/grpc/TestBigtableDataGrpcClient.java
  bigtable-client-core-parent/bigtable-client-core/src/test/java/com/google/cloud/bigtable/grpc/scanner/RetryingReadRowsOperationTest.java
Labels: api: bigtable, cla: yes

#2724 chore(docs): Adding OpenCensus integration instructions
  README.md
Labels: api: bigtable, cla: yes

#2706 chore: update releasing instructions for bigtable-1.x
  RELEASING.md
Labels: api: bigtable, cla: yes

#2688 fix: qualifier filter comparators (#2684)
  bigtable-client-core-parent/bigtable-hbase-integration-tests-common/src/test/java/com/google/cloud/bigtable/hbase/AbstractTestFilters.java
  bigtable-client-core-parent/bigtable-hbase/src/main/java/com/google/cloud/bigtable/hbase/adapters/filters/QualifierFilterAdapter.java
Labels: api: bigtable, cla: yes

#2634 test: Update AbstractTestCheckAndMutate integration test to work with zero bytes
  bigtable-client-core-parent/bigtable-hbase-integration-tests-common/src/test/java/com/google/cloud/bigtable/hbase/AbstractTestCheckAndMutate.java
Labels: api: bigtable, cla: yes

#2762 fix: Fix autoflush race condition in BulkMutation
  bigtable-client-core-parent/bigtable-client-core/src/main/java/com/google/cloud/bigtable/grpc/async/BulkMutation.java
  bigtable-client-core-parent/bigtable-client-core/src/test/java/com/google/cloud/bigtable/grpc/async/TestBulkMutation.java
Labels: api: bigtable, cla: yes

#2777 Remove disrespectful terms
  bigtable-client-core-parent/bigtable-client-core/src/main/java/com/google/cloud/bigtable/grpc/ConfiguredDeadlineGeneratorFactory.java
Labels: api: bigtable, cla: yes

#2775 deps: Update beam version to 2.24.0
  bigtable-dataflow-parent/bigtable-beam-import/pom.xml
  pom.xml
Labels: api: bigtable, cla: yes

#2782 fix: BigtableSession is never closed by Reader causing "ManagedChanne…
  bigtable-dataflow-parent/bigtable-hbase-beam/src/main/java/com/google/cloud/bigtable/beam/CloudBigtableIO.java
Labels: api: bigtable, cla: yes

#2773 fix: bigtable-hbase-2.x-hadoop incompatible with hbase-shaded-client 2.x
  bigtable-client-core-parent/bigtable-hbase/src/main/java/org/apache/hadoop/hbase/client/AbstractBigtableAdmin.java
  bigtable-hbase-1.x-parent/bigtable-hbase-1.x/src/main/java/com/google/cloud/bigtable/hbase1_x/BigtableAdmin.java
  bigtable-hbase-1.x-parent/bigtable-hbase-1.x/src/test/java/com/google/cloud/bigtable/hbase1_x/TestBigtableAdmin.java
  bigtable-hbase-2.x-parent/bigtable-hbase-2.x/src/main/java/com/google/cloud/bigtable/hbase2_x/BigtableAdmin.java
  bigtable-hbase-2.x-parent/bigtable-hbase-2.x/src/test/java/com/google/cloud/bigtable/hbase2_x/BigtableAdminTest.java
Labels: api: bigtable, cla: yes

#2774 chore(docs): add more info to the releasing instructions
  RELEASING.md
Labels: api: bigtable, cla: yes
