Repository googleapis/java-bigtable-hbase, pull requests merged in 2021-12, with the labels that each got.

#3338 fix: fix flow controller setting and option javadocs
  bigtable-client-core-parent/bigtable-hbase/src/main/java/com/google/cloud/bigtable/hbase/BigtableOptionsFactory.java
  bigtable-client-core-parent/bigtable-hbase/src/main/java/com/google/cloud/bigtable/hbase/wrappers/veneer/BigtableHBaseVeneerSettings.java
Labels: cla: yes, api: bigtable, automerge

#3375 deps: migrate to log4j-core (#3326)
  bigtable-hbase-1.x-parent/bigtable-hbase-1.x-tools/pom.xml
  bigtable-hbase-1.x-parent/bigtable-hbase-1.x-tools/src/main/java/com/google/cloud/bigtable/hbase/tools/HBaseSchemaTranslator.java
  bigtable-hbase-1.x-parent/bigtable-hbase-1.x-tools/src/main/resources/log4j.properties
  bigtable-hbase-1.x-parent/bigtable-hbase-1.x-tools/src/main/resources/log4j2.xml
Labels: api: bigtable, automerge

#3379 chore: fix accidental version bump in snapshot
  bigtable-client-core-parent/bigtable-hbase-integration-tests-common/pom.xml
  bigtable-client-core-parent/bigtable-hbase/pom.xml
  bigtable-client-core-parent/bigtable-hbase/src/main/java/com/google/cloud/bigtable/hbase/BigtableHBaseVersion.java
  bigtable-client-core-parent/pom.xml
  bigtable-dataflow-parent/bigtable-beam-import/pom.xml
  bigtable-dataflow-parent/bigtable-hbase-beam/pom.xml
  bigtable-dataflow-parent/pom.xml
  bigtable-hbase-1.x-parent/bigtable-hbase-1.x-benchmarks/pom.xml
  bigtable-hbase-1.x-parent/bigtable-hbase-1.x-hadoop/pom.xml
  bigtable-hbase-1.x-parent/bigtable-hbase-1.x-integration-tests/pom.xml
  bigtable-hbase-1.x-parent/bigtable-hbase-1.x-mapreduce/pom.xml
  bigtable-hbase-1.x-parent/bigtable-hbase-1.x-shaded/pom.xml
  bigtable-hbase-1.x-parent/bigtable-hbase-1.x-tools/pom.xml
  bigtable-hbase-1.x-parent/bigtable-hbase-1.x/pom.xml
  bigtable-hbase-1.x-parent/pom.xml
  bigtable-hbase-2.x-parent/bigtable-hbase-2.x-hadoop/pom.xml
  bigtable-hbase-2.x-parent/bigtable-hbase-2.x-integration-tests/pom.xml
  bigtable-hbase-2.x-parent/bigtable-hbase-2.x-shaded/pom.xml
  bigtable-hbase-2.x-parent/bigtable-hbase-2.x/pom.xml
  bigtable-hbase-2.x-parent/pom.xml
  bigtable-test/bigtable-build-helper/pom.xml
  bigtable-test/bigtable-build-helper/src/it/verify-mirror-deps-misaligned/pom.xml
  bigtable-test/bigtable-build-helper/src/it/verify-mirror-deps-ok/pom.xml
  bigtable-test/bigtable-build-helper/src/it/verify-shaded-exclusions-ok/pom.xml
  bigtable-test/bigtable-build-helper/src/it/verify-shaded-exclusions-unpromoted/pom.xml
  bigtable-test/bigtable-build-helper/src/it/verify-shaded-jar-entries-leak/pom.xml
  bigtable-test/bigtable-build-helper/src/it/verify-shaded-jar-entries-ok/pom.xml
  bigtable-test/bigtable-emulator-maven-plugin/pom.xml
  bigtable-test/bigtable-internal-test-helper/pom.xml
  bigtable-test/pom.xml
  pom.xml
  versions.txt
Labels: api: bigtable, automerge

#3380 deps(fix): update to 2.16.0 log4j version and ban all 2.x versions which are <= 2.15.0
  bigtable-dataflow-parent/bigtable-beam-import/pom.xml
  bigtable-dataflow-parent/bigtable-hbase-beam/pom.xml
  bigtable-hbase-1.x-parent/bigtable-hbase-1.x-tools/pom.xml
  pom.xml
Labels: api: bigtable, automerge

#3388 deps(fix): bump log4j2 to 2.16.0 and ban all 2.x.x versions which are < 2.16.0
  bigtable-dataflow-parent/bigtable-beam-import/pom.xml
  bigtable-dataflow-parent/bigtable-hbase-beam/pom.xml
  bigtable-hbase-1.x-parent/bigtable-hbase-1.x-tools/pom.xml
  pom.xml
Labels: api: bigtable, automerge

#3394 deps: remove explicit log4j2 deps on beam artifacts as they are no longer brought in transitively
  bigtable-dataflow-parent/bigtable-beam-import/pom.xml
  bigtable-dataflow-parent/bigtable-hbase-beam/pom.xml
Labels: api: bigtable

#3383 fix: use 2.16.0 log4j version and ban all 2.x versions which are < 2.16.0
  bigtable-dataflow-parent/bigtable-beam-import/pom.xml
  bigtable-dataflow-parent/bigtable-hbase-beam/pom.xml
  pom.xml
Labels: api: bigtable, automerge

#3403 chore(deps): upgrade to log4j2 2.17 (main)
  pom.xml
Labels: api: bigtable, automerge

#3402 chore(deps): upgrade to log4j2 2.17 (bigtable 1x)
  pom.xml
Labels: api: bigtable, automerge

#3411 chore: add enumeration type of library
  .repo-metadata.json
Labels: api: bigtable, automerge

#3378 chore: Extracting a utility function isValid to identify unsupported deletes
  bigtable-client-core-parent/bigtable-hbase/src/main/java/com/google/cloud/bigtable/hbase/adapters/DeleteAdapter.java
  bigtable-client-core-parent/bigtable-hbase/src/test/java/com/google/cloud/bigtable/hbase/adapters/TestDeleteAdapter.java
Labels: api: bigtable
