Repository googleapis/java-bigtable-hbase, pull requests merged in 2021-05, with the labels that each got.

#2953 fix: Update metric logging to make sure metrics always show up.
  bigtable-dataflow-parent/bigtable-beam-import/src/main/java/com/google/cloud/bigtable/beam/validation/ComputeAndValidateHashFromBigtableDoFn.java
  bigtable-dataflow-parent/bigtable-beam-import/src/test/java/com/google/cloud/bigtable/beam/hbasesnapshots/EndToEndIT.java
  bigtable-dataflow-parent/bigtable-beam-import/src/test/java/com/google/cloud/bigtable/beam/validation/ComputeAndValidateHashFromBigtableDoFnTest.java
Labels: api: bigtable, cla: yes

#2952 feat: adding custom User agent for dataflow jobs.
  bigtable-dataflow-parent/bigtable-beam-import/src/main/java/com/google/cloud/bigtable/beam/TemplateUtils.java
  bigtable-dataflow-parent/bigtable-beam-import/src/main/java/com/google/cloud/bigtable/beam/hbasesnapshots/ImportJobFromHbaseSnapshot.java
  bigtable-dataflow-parent/bigtable-beam-import/src/main/java/com/google/cloud/bigtable/beam/sequencefiles/ImportJob.java
  bigtable-hbase-1.x-parent/bigtable-hbase-tools/src/main/java/com/google/cloud/bigtable/hbase/tools/HBaseSchemaTranslator.java
Labels: api: bigtable, cla: yes

#2959 chore: reset veneer executor to be gRPC default instead of gax
  bigtable-client-core-parent/bigtable-hbase/src/main/java/com/google/cloud/bigtable/hbase/wrappers/veneer/BigtableHBaseVeneerSettings.java
Labels: api: bigtable, automerge, cla: yes

#2961 chore: adding cloud-rad java xrefs
  .kokoro/release/publish_javadoc11.sh
  synth.metadata
Labels: api: bigtable, automerge, cla: yes, context: full

#2960 renaming hbase-tools to hbase-tools to 1.x-tools and incorporating review feedback.
  bigtable-hbase-1.x-parent/bigtable-hbase-1.x-tools/pom.xml
  bigtable-hbase-1.x-parent/bigtable-hbase-1.x-tools/src/main/java/com/google/cloud/bigtable/hbase/tools/ClusterSchemaDefinition.java
  bigtable-hbase-1.x-parent/bigtable-hbase-1.x-tools/src/main/java/com/google/cloud/bigtable/hbase/tools/HBaseSchemaTranslator.java
  bigtable-hbase-1.x-parent/bigtable-hbase-1.x-tools/src/main/resources/log4j.properties
  bigtable-hbase-1.x-parent/bigtable-hbase-1.x-tools/src/test/java/com/google/cloud/bigtable/hbase/tools/HBaseSchemaTranslationOptionsTest.java
  bigtable-hbase-1.x-parent/bigtable-hbase-1.x-tools/src/test/java/com/google/cloud/bigtable/hbase/tools/HBaseSchemaTranslatorTest.java
  bigtable-hbase-1.x-parent/pom.xml
Labels: api: bigtable, cla: yes

#2968 fix: fix buildSyncTableConfig naming
  bigtable-dataflow-parent/bigtable-beam-import/src/main/java/com/google/cloud/bigtable/beam/TemplateUtils.java
  bigtable-dataflow-parent/bigtable-beam-import/src/main/java/com/google/cloud/bigtable/beam/validation/ComputeAndValidateHashFromBigtableDoFn.java
Labels: api: bigtable, automerge, cla: yes

#2967 fix: Refactoring methods in TemplateUtils. Using CamelCasing for names.
  bigtable-dataflow-parent/bigtable-beam-import/clirr-ignored-differences.xml
  bigtable-dataflow-parent/bigtable-beam-import/src/main/java/com/google/cloud/bigtable/beam/TemplateUtils.java
  bigtable-dataflow-parent/bigtable-beam-import/src/main/java/com/google/cloud/bigtable/beam/hbasesnapshots/ImportJobFromHbaseSnapshot.java
  bigtable-dataflow-parent/bigtable-beam-import/src/main/java/com/google/cloud/bigtable/beam/sequencefiles/ExportJob.java
  bigtable-dataflow-parent/bigtable-beam-import/src/main/java/com/google/cloud/bigtable/beam/sequencefiles/ImportJob.java
Labels: api: bigtable, cla: yes

#2966 build: have release-please app create GitHub release
  .github/release-please.yml
Labels: api: bigtable, automerge, cla: yes

#2970 fix: Refactoring methods in TemplateUtils. Using CamelCasing for names.
  bigtable-dataflow-parent/bigtable-beam-import/clirr-ignored-differences.xml
  bigtable-dataflow-parent/bigtable-beam-import/src/main/java/com/google/cloud/bigtable/beam/TemplateUtils.java
  bigtable-dataflow-parent/bigtable-beam-import/src/main/java/com/google/cloud/bigtable/beam/hbasesnapshots/ImportJobFromHbaseSnapshot.java
  bigtable-dataflow-parent/bigtable-beam-import/src/main/java/com/google/cloud/bigtable/beam/sequencefiles/ExportJob.java
  bigtable-dataflow-parent/bigtable-beam-import/src/main/java/com/google/cloud/bigtable/beam/sequencefiles/ImportJob.java
Labels: api: bigtable, cla: yes

#2973 chore: add changelog to cloud-rad
  .kokoro/release/publish_javadoc11.sh
  synth.metadata
Labels: api: bigtable, automerge, cla: yes, context: full

#2974 feat: add `gcf-owl-bot[bot]` to `ignoreAuthors`
  .github/generated-files-bot.yml
  synth.metadata
Labels: api: bigtable, automerge, cla: yes, context: full

#2977 chore: rename FutureUtil to ApiFutureUtils to avoid confusion with #2976
  bigtable-hbase-2.x-parent/bigtable-hbase-2.x/src/main/java/com/google/cloud/bigtable/hbase2_x/ApiFutureUtils.java
  bigtable-hbase-2.x-parent/bigtable-hbase-2.x/src/main/java/com/google/cloud/bigtable/hbase2_x/BigtableAdmin.java
  bigtable-hbase-2.x-parent/bigtable-hbase-2.x/src/main/java/com/google/cloud/bigtable/hbase2_x/BigtableAsyncAdmin.java
  bigtable-hbase-2.x-parent/bigtable-hbase-2.x/src/main/java/com/google/cloud/bigtable/hbase2_x/BigtableAsyncBufferedMutator.java
  bigtable-hbase-2.x-parent/bigtable-hbase-2.x/src/main/java/com/google/cloud/bigtable/hbase2_x/BigtableAsyncTable.java
  bigtable-hbase-2.x-parent/bigtable-hbase-2.x/src/main/java/com/google/cloud/bigtable/hbase2_x/BigtableAsyncTableRegionLocator.java
  bigtable-hbase-2.x-parent/bigtable-hbase-2.x/src/test/java/com/google/cloud/bigtable/hbase2_x/ApiFutureUtilsTest.java
  bigtable-hbase-2.x-parent/bigtable-hbase-2.x/src/test/java/com/google/cloud/bigtable/hbase2_x/FutureUtilsTest.java
Labels: api: bigtable, automerge, cla: yes

#2979 chore: disable dep download messages to reduce noise
  .kokoro/build.sh
Labels: api: bigtable, cla: yes

#2985 build: configure branch 1.20.0-sp as a release branch
  .github/release-please.yml
  .github/sync-repo-settings.yaml
Labels: api: bigtable, cla: yes

#2982 chore: reduce noise in tests
  bigtable-client-core-parent/bigtable-hbase-integration-tests-common/src/test/java/com/google/cloud/bigtable/hbase/AbstractTest.java
  bigtable-client-core-parent/bigtable-hbase-integration-tests-common/src/test/resources/log4j.properties
  bigtable-dataflow-parent/bigtable-beam-import/src/main/resources/log4j.properties
  bigtable-dataflow-parent/bigtable-beam-import/src/test/resources/log4j.properties
  bigtable-dataflow-parent/bigtable-hbase-beam/src/test/resources/log4j.properties
  bigtable-hbase-1.x-parent/bigtable-hbase-1.x-benchmarks/src/main/resources/log4j.properties
  bigtable-hbase-1.x-parent/bigtable-hbase-1.x-mapreduce/src/test/resources/log4j.properties
  bigtable-hbase-2.x-parent/bigtable-hbase-2.x-hadoop/src/test/resources/log4j.properties
  pom.xml
Labels: api: bigtable, cla: yes

#2986 chore: simplify integration tests
  bigtable-hbase-1.x-parent/bigtable-hbase-1.x-integration-tests/pom.xml
  bigtable-hbase-1.x-parent/bigtable-hbase-1.x-integration-tests/src/test/java/com/google/cloud/bigtable/hbase/EmulatorTests.java
  bigtable-hbase-1.x-parent/bigtable-hbase-1.x-integration-tests/src/test/java/com/google/cloud/bigtable/hbase/IntegrationTestsNoKnownGap.java
  bigtable-hbase-1.x-parent/bigtable-hbase-1.x-integration-tests/src/test/java/com/google/cloud/bigtable/hbase/SimpleIntegrationTests.java
  bigtable-hbase-1.x-parent/bigtable-hbase-1.x-integration-tests/src/test/java/com/google/cloud/bigtable/hbase/TestKnownHBaseGap.java
  bigtable-hbase-2.x-parent/bigtable-hbase-2.x-integration-tests/pom.xml
  bigtable-hbase-2.x-parent/bigtable-hbase-2.x-integration-tests/src/test/java/com/google/cloud/bigtable/hbase/EmulatorTests.java
  bigtable-hbase-2.x-parent/bigtable-hbase-2.x-integration-tests/src/test/java/com/google/cloud/bigtable/hbase/IntegrationTestsNoKnownGap.java
  bigtable-hbase-2.x-parent/bigtable-hbase-2.x-integration-tests/src/test/java/com/google/cloud/bigtable/hbase/SimpleIntegrationTests.java
Labels: api: bigtable, automerge, cla: yes

#2988 chore(test): use same the same resource name pattern as java-bigtable tests
  bigtable-client-core-parent/bigtable-hbase-integration-tests-common/src/test/java/com/google/cloud/bigtable/hbase/test_env/BigtableEnv.java
  bigtable-client-core-parent/bigtable-hbase-integration-tests-common/src/test/java/com/google/cloud/bigtable/hbase/test_env/SharedTestEnvRule.java
Labels: api: bigtable, cla: yes

#2987 build: only publish bigtable-hbase-beam and its dep bigtable-hbase-1x-shaded for sp branch
  bigtable-client-core-parent/bigtable-client-core/pom.xml
  bigtable-client-core-parent/bigtable-hbase-integration-tests-common/pom.xml
  bigtable-client-core-parent/bigtable-hbase/pom.xml
  bigtable-dataflow-parent/bigtable-beam-import/pom.xml
  bigtable-hbase-1.x-parent/bigtable-hbase-1.x-hadoop/pom.xml
  bigtable-hbase-1.x-parent/bigtable-hbase-1.x-integration-tests/pom.xml
  bigtable-hbase-1.x-parent/bigtable-hbase-1.x-mapreduce/pom.xml
  bigtable-hbase-1.x-parent/bigtable-hbase-1.x-tools/pom.xml
  bigtable-hbase-1.x-parent/bigtable-hbase-1.x/pom.xml
  bigtable-hbase-2.x-parent/bigtable-hbase-2.x-hadoop/pom.xml
  bigtable-hbase-2.x-parent/bigtable-hbase-2.x-integration-tests/pom.xml
  bigtable-hbase-2.x-parent/bigtable-hbase-2.x-shaded/pom.xml
  bigtable-hbase-2.x-parent/bigtable-hbase-2.x/pom.xml
  bigtable-test/bigtable-emulator-maven-plugin/pom.xml
Labels: api: bigtable, cla: yes

#2989 deps: update bigtable.version to 1.22.0-sp.1 and shared config to 0.11.0
  bigtable-client-core-parent/bigtable-client-core/pom.xml
  bigtable-dataflow-parent/bigtable-beam-import/pom.xml
  bigtable-hbase-1.x-parent/bigtable-hbase-1.x-tools/pom.xml
  bigtable-hbase-2.x-parent/bigtable-hbase-2.x-integration-tests/pom.xml
  pom.xml
Labels: api: bigtable, cla: yes

#2978 feat: add client-core metrics to veneer
  bigtable-client-core-parent/bigtable-hbase/src/main/java/com/google/cloud/bigtable/hbase/wrappers/veneer/BigtableVeneerApi.java
  bigtable-client-core-parent/bigtable-hbase/src/main/java/com/google/cloud/bigtable/hbase/wrappers/veneer/BulkMutationVeneerApi.java
  bigtable-client-core-parent/bigtable-hbase/src/main/java/com/google/cloud/bigtable/hbase/wrappers/veneer/DataClientVeneerApi.java
  bigtable-client-core-parent/bigtable-hbase/src/main/java/com/google/cloud/bigtable/hbase/wrappers/veneer/SharedDataClientWrapperFactory.java
  bigtable-client-core-parent/bigtable-hbase/src/main/java/com/google/cloud/bigtable/hbase/wrappers/veneer/metrics/MetricsApiTracerAdapter.java
  bigtable-client-core-parent/bigtable-hbase/src/main/java/com/google/cloud/bigtable/hbase/wrappers/veneer/metrics/MetricsApiTracerAdapterFactory.java
  bigtable-hbase-1.x-parent/bigtable-hbase-1.x/pom.xml
  bigtable-hbase-1.x-parent/bigtable-hbase-1.x/src/test/java/com/google/cloud/bigtable/hbase1_x/TestMetrics.java
Labels: api: bigtable, cla: yes

#2976 feat: improve handling when crossing async and sync boundaries
  bigtable-client-core-parent/bigtable-hbase/src/main/java/com/google/cloud/bigtable/hbase/AbstractBigtableTable.java
  bigtable-client-core-parent/bigtable-hbase/src/main/java/com/google/cloud/bigtable/hbase/util/FutureUtil.java
  bigtable-client-core-parent/bigtable-hbase/src/main/java/org/apache/hadoop/hbase/client/AbstractBigtableAdmin.java
  bigtable-client-core-parent/bigtable-hbase/src/test/java/com/google/cloud/bigtable/hbase/util/FutureUtilTest.java
  bigtable-hbase-1.x-parent/bigtable-hbase-1.x-integration-tests/src/test/java/com/google/cloud/bigtable/hbase/TestRpcRetryBehaviorGetSingle.java
  bigtable-hbase-2.x-parent/bigtable-hbase-2.x/pom.xml
  bigtable-hbase-2.x-parent/bigtable-hbase-2.x/src/main/java/com/google/cloud/bigtable/hbase2_x/BigtableTable.java
  bigtable-hbase-2.x-parent/bigtable-hbase-2.x/src/main/java/org/apache/hadoop/hbase/client/BigtableAsyncConnection.java
Labels: api: bigtable, cla: yes

#2992 chore(test): improve snapshot tests
  bigtable-client-core-parent/bigtable-hbase-integration-tests-common/src/test/java/com/google/cloud/bigtable/hbase/AbstractTestSnapshot.java
  bigtable-client-core-parent/bigtable-hbase-integration-tests-common/src/test/java/com/google/cloud/bigtable/hbase/test_env/BigtableEnv.java
  bigtable-hbase-1.x-parent/bigtable-hbase-1.x-integration-tests/src/test/java/com/google/cloud/bigtable/hbase/TestSnapshots.java
  bigtable-hbase-2.x-parent/bigtable-hbase-2.x-integration-tests/src/test/java/com/google/cloud/bigtable/hbase/TestSnapshots.java
  bigtable-hbase-2.x-parent/bigtable-hbase-2.x-integration-tests/src/test/java/com/google/cloud/bigtable/hbase/async/TestAsyncSnapshots.java
Labels: api: bigtable, cla: yes

#2994 build: only build bigtable-hbase-beam and its dependencies for releases
  .kokoro/release/snapshot.sh
  .kokoro/release/stage.sh
  bigtable-hbase-1.x-parent/bigtable-hbase-1.x-integration-tests/pom.xml
  bigtable-hbase-2.x-parent/bigtable-hbase-2.x-integration-tests/pom.xml
  synth.py
Labels: api: bigtable, cla: yes
