Repository googleapis/java-bigtable-hbase, pull requests merged in 2021-08, with the labels that each got.

#3178 build: configure branch java7 as a release branch
  .github/release-please.yml
  .github/sync-repo-settings.yaml
Labels: api: bigtable, automerge, cla: yes

#3180 build(revert): "build: configure branch java7 as a release branch (#3178)"
  .github/release-please.yml
  .github/sync-repo-settings.yaml
Labels: api: bigtable, automerge, cla: yes

#3173 deps: upgrade commons-compress to 1.21
  bigtable-dataflow-parent/bigtable-hbase-beam/pom.xml
Labels: api: bigtable, cla: yes

#3184 fix: allow direct path to be used with custom endpoints
  bigtable-client-core-parent/bigtable-client-core/src/main/java/com/google/cloud/bigtable/util/DirectPathUtil.java
Labels: cla: yes, api: bigtable, automerge

#3174 deps: upgrade commons-compress to 1.21
  bigtable-dataflow-parent/bigtable-hbase-beam/pom.xml
Labels: cla: yes, api: bigtable, automerge

#3188 build(java): use ENABLE_FLAKYBOT env variable
  .kokoro/nightly/samples.cfg
  synth.metadata
Labels: cla: yes, api: bigtable, context: full

#3189 feat!: migrate to java 8
  bigtable-client-core-parent/bigtable-hbase/pom.xml
  bigtable-dataflow-parent/bigtable-beam-import/pom.xml
  bigtable-hbase-1.x-parent/bigtable-hbase-1.x-tools/pom.xml
  bigtable-hbase-1.x-parent/bigtable-hbase-1.x/pom.xml
  bigtable-hbase-2.x-parent/bigtable-hbase-2.x-hadoop/pom.xml
  bigtable-hbase-2.x-parent/bigtable-hbase-2.x-integration-tests/pom.xml
  bigtable-hbase-2.x-parent/bigtable-hbase-2.x-shaded/pom.xml
  bigtable-hbase-2.x-parent/bigtable-hbase-2.x/pom.xml
  bigtable-test/bigtable-build-helper/pom.xml
  bigtable-test/bigtable-emulator-maven-plugin/src/it/simple-it/pom.xml
  pom.xml
Labels: cla: yes, api: bigtable

#3190 chore: update sync-repo-settings
  .github/sync-repo-settings.yaml
Labels: cla: yes, api: bigtable

#3185 feat: Add support for renaming tables in schema translator
  bigtable-hbase-1.x-parent/bigtable-hbase-1.x-shaded/pom.xml
  bigtable-hbase-1.x-parent/bigtable-hbase-1.x-tools/pom.xml
  bigtable-hbase-1.x-parent/bigtable-hbase-1.x-tools/src/main/java/com/google/cloud/bigtable/hbase/tools/HBaseSchemaTranslator.java
  bigtable-hbase-1.x-parent/bigtable-hbase-1.x-tools/src/test/java/com/google/cloud/bigtable/hbase/tools/HBaseSchemaTransformerTest.java
  bigtable-hbase-1.x-parent/bigtable-hbase-1.x-tools/src/test/java/com/google/cloud/bigtable/hbase/tools/HBaseSchemaTranslationOptionsTest.java
  bigtable-hbase-1.x-parent/bigtable-hbase-1.x-tools/src/test/java/com/google/cloud/bigtable/hbase/tools/HBaseSchemaTranslatorTest.java
Labels: cla: yes, api: bigtable, automerge

#3191 chore: Moving to un-shaded verison of javax.annotations.
  bigtable-hbase-1.x-parent/bigtable-hbase-1.x-tools/pom.xml
  bigtable-hbase-1.x-parent/bigtable-hbase-1.x-tools/src/main/java/com/google/cloud/bigtable/hbase/tools/HBaseSchemaTranslator.java
Labels: cla: yes, api: bigtable, automerge

#3194 ci: removing linkage-monitor from the required checks
  .github/sync-repo-settings.yaml
Labels: cla: yes, api: bigtable, automerge

#3198 feat: log bulk mutation entry errors
  bigtable-client-core-parent/bigtable-client-core/src/main/java/com/google/cloud/bigtable/grpc/async/MutateRowsRequestManager.java
  bigtable-client-core-parent/bigtable-client-core/src/main/java/com/google/cloud/bigtable/grpc/async/RetryingMutateRowsOperation.java
  bigtable-client-core-parent/bigtable-client-core/src/test/java/com/google/cloud/bigtable/grpc/async/TestMutateRowsRequestManager.java
Labels: cla: yes, api: bigtable
