Repository googleapis/java-bigtable-hbase, pull requests merged in 2022-02, with the labels that each got.

#3480 fix: check and mutate should check for existence on empty byte values
  CONTRIBUTING.md
  bigtable-client-core-parent/bigtable-hbase-integration-tests-common/src/test/java/com/google/cloud/bigtable/hbase/AbstractTestCheckAndMutate.java
  bigtable-client-core-parent/bigtable-hbase/src/main/java/com/google/cloud/bigtable/hbase/adapters/CheckAndMutateUtil.java
Labels: api: bigtable

#3487 chore: update CODEOWNERS
  .github/CODEOWNERS
Labels: api: bigtable, owlbot:ignore

#3488 chore: ignore CODEOWNERS for owlbot updates
  owlbot.py
Labels: api: bigtable, automerge, owlbot:ignore

#3483 Implement Hbase2.x replication endpoint
  bigtable-hbase-1.x-replication/pom.xml
  bigtable-hbase-1.x-replication/src/main/java/com/google/cloud/bigtable/hbase/replication/HbaseToCloudBigtableReplicationEndpoint.java
  bigtable-hbase-1.x-replication/src/test/java/com/google/cloud/bigtable/hbase/replication/HbaseToCloudBigtableReplicationEndpointTest.java
  bigtable-hbase-2.x-replication/pom.xml
  bigtable-hbase-2.x-replication/src/main/java/com/google/cloud/bigtable/hbase/replication/HbaseToCloudBigtableReplicationEndpoint.java
  bigtable-hbase-2.x-replication/src/test/java/com/google/cloud/bigtable/hbase/replication/HbaseToCloudBigtableReplicationEndpointTest.java
  bigtable-hbase-replication/pom.xml
  bigtable-hbase-replication/src/main/java/com/google/cloud/bigtable/hbase/replication/CloudBigtableReplicator.java
  bigtable-hbase-replication/src/main/java/com/google/cloud/bigtable/hbase/replication/adapters/ApproximatingIncompatibleMutationAdapter.java
  bigtable-hbase-replication/src/main/java/com/google/cloud/bigtable/hbase/replication/adapters/BigtableWALEntry.java
  bigtable-hbase-replication/src/main/java/com/google/cloud/bigtable/hbase/replication/adapters/IncompatibleMutationAdapter.java
  bigtable-hbase-replication/src/main/java/com/google/cloud/bigtable/hbase/replication/adapters/IncompatibleMutationAdapterFactory.java
  bigtable-hbase-replication/src/main/java/com/google/cloud/bigtable/hbase/replication/utils/TestUtils.java
  bigtable-hbase-replication/src/test/java/com/google/cloud/bigtable/hbase/replication/CloudBigtableReplicationTaskTest.java
  bigtable-hbase-replication/src/test/java/com/google/cloud/bigtable/hbase/replication/MutationBuilderTest.java
  bigtable-hbase-replication/src/test/java/com/google/cloud/bigtable/hbase/replication/adapters/ApproximatingIncompatibleMutationAdapterTest.java
  bigtable-hbase-replication/src/test/java/com/google/cloud/bigtable/hbase/replication/adapters/IncompatibleMutationAdapterTest.java
  pom.xml
Labels: api: bigtable

#3352 fix: clean up timeout defaults and drop the ability to disable timeouts
  bigtable-client-core-parent/bigtable-hbase/src/main/java/com/google/cloud/bigtable/hbase/BigtableOptionsFactory.java
  bigtable-client-core-parent/bigtable-hbase/src/main/java/com/google/cloud/bigtable/hbase/wrappers/veneer/BigtableHBaseVeneerSettings.java
  bigtable-client-core-parent/bigtable-hbase/src/main/java/com/google/cloud/bigtable/hbase/wrappers/veneer/DataClientVeneerApi.java
  bigtable-client-core-parent/bigtable-hbase/src/test/java/com/google/cloud/bigtable/hbase/wrappers/veneer/TestBigtableHBaseVeneerSettings.java
  bigtable-hbase-1.x-parent/bigtable-hbase-1.x-integration-tests/src/test/java/com/google/cloud/bigtable/hbase/IntegrationTests.java
  bigtable-hbase-1.x-parent/bigtable-hbase-1.x-integration-tests/src/test/java/com/google/cloud/bigtable/hbase/TestRpcRetryBehavior.java
  bigtable-hbase-1.x-parent/bigtable-hbase-1.x-integration-tests/src/test/java/com/google/cloud/bigtable/hbase/TestRpcRetryBehaviorCheckAndMutateRow.java
  bigtable-hbase-1.x-parent/bigtable-hbase-1.x-integration-tests/src/test/java/com/google/cloud/bigtable/hbase/TestRpcRetryBehaviorGetMultiple.java
  bigtable-hbase-1.x-parent/bigtable-hbase-1.x-integration-tests/src/test/java/com/google/cloud/bigtable/hbase/TestRpcRetryBehaviorGetSingle.java
  bigtable-hbase-1.x-parent/bigtable-hbase-1.x-integration-tests/src/test/java/com/google/cloud/bigtable/hbase/TestRpcRetryBehaviorPutMultiple.java
  bigtable-hbase-1.x-parent/bigtable-hbase-1.x-integration-tests/src/test/java/com/google/cloud/bigtable/hbase/TestRpcRetryBehaviorPutSingle.java
  bigtable-hbase-1.x-parent/bigtable-hbase-1.x/pom.xml
  bigtable-hbase-1.x-parent/bigtable-hbase-1.x/src/test/java/com/google/cloud/bigtable/hbase/TestRetryBehavior.java
Labels: cla: yes, api: bigtable

#3501 fix: do not use system class loader
  bigtable-client-core-parent/bigtable-hbase/src/main/java/org/apache/hadoop/hbase/client/BigtableAsyncRegistry.java
Labels: api: bigtable, automerge

#3500 Remove hbase-server dependency from core replication library
  bigtable-hbase-1.x-replication/pom.xml
  bigtable-hbase-1.x-replication/src/main/java/com/google/cloud/bigtable/hbase/replication/HbaseToCloudBigtableReplicationEndpoint.java
  bigtable-hbase-1.x-replication/src/main/java/com/google/cloud/bigtable/hbase/replication/metrics/HBaseMetricsExporter.java
  bigtable-hbase-1.x-replication/src/test/java/com/google/cloud/bigtable/hbase/replication/metrics/HBaseMetricsExporterTest.java
  bigtable-hbase-2.x-replication/src/main/java/com/google/cloud/bigtable/hbase/replication/HBaseMetricsExporter.java
  bigtable-hbase-2.x-replication/src/main/java/com/google/cloud/bigtable/hbase/replication/HbaseToCloudBigtableReplicationEndpoint.java
  bigtable-hbase-replication/pom.xml
  bigtable-hbase-replication/src/main/java/com/google/cloud/bigtable/hbase/replication/CloudBigtableReplicator.java
  bigtable-hbase-replication/src/main/java/com/google/cloud/bigtable/hbase/replication/adapters/ApproximatingIncompatibleMutationAdapter.java
  bigtable-hbase-replication/src/main/java/com/google/cloud/bigtable/hbase/replication/adapters/BigtableWALEntry.java
  bigtable-hbase-replication/src/main/java/com/google/cloud/bigtable/hbase/replication/adapters/IncompatibleMutationAdapter.java
  bigtable-hbase-replication/src/main/java/com/google/cloud/bigtable/hbase/replication/adapters/IncompatibleMutationAdapterFactory.java
  bigtable-hbase-replication/src/main/java/com/google/cloud/bigtable/hbase/replication/metrics/MetricsExporter.java
  bigtable-hbase-replication/src/test/java/com/google/cloud/bigtable/hbase/replication/adapters/ApproximatingIncompatibleMutationAdapterTest.java
  bigtable-hbase-replication/src/test/java/com/google/cloud/bigtable/hbase/replication/adapters/IncompatibleMutationAdapterTest.java
Labels: api: bigtable

#3504 deps: update metrics version to 1.26.3, exclude api-common, clean up renovate config
  bigtable-client-core-parent/bigtable-hbase/pom.xml
  bigtable-hbase-1.x-parent/bigtable-hbase-1.x-shaded/pom.xml
  bigtable-hbase-1.x-parent/bigtable-hbase-1.x/pom.xml
  bigtable-hbase-2.x-parent/bigtable-hbase-2.x/pom.xml
  pom.xml
  renovate.json5
Labels: api: bigtable, automerge

#3506 cleanup and more comments.
  bigtable-hbase-1.x-replication/src/main/java/com/google/cloud/bigtable/hbase/replication/HbaseToCloudBigtableReplicationEndpoint.java
  bigtable-hbase-replication/src/main/java/com/google/cloud/bigtable/hbase/replication/CloudBigtableReplicationTask.java
  bigtable-hbase-replication/src/main/java/com/google/cloud/bigtable/hbase/replication/CloudBigtableReplicator.java
  bigtable-hbase-replication/src/main/java/com/google/cloud/bigtable/hbase/replication/CloudBigtableTableReplicatorFactory.java
  bigtable-hbase-replication/src/main/java/com/google/cloud/bigtable/hbase/replication/adapters/ApproximatingIncompatibleMutationAdapter.java
  bigtable-hbase-replication/src/main/java/com/google/cloud/bigtable/hbase/replication/adapters/BigtableWALEntry.java
Labels: api: bigtable

#3516 chore: update README versions
  README.md
Labels: api: bigtable, automerge

#3520 docs: fix typos in README and add --region option
  bigtable-dataflow-parent/bigtable-beam-import/README.md
Labels: api: bigtable

#3510 feat: Enable HBase to Cloud Bigtable replication
  hbase-migration-tools/bigtable-hbase-replication/bigtable-hbase-1.x-replication/pom.xml
  hbase-migration-tools/bigtable-hbase-replication/bigtable-hbase-1.x-replication/src/main/java/com/google/cloud/bigtable/hbase1_x/replication/HbaseToCloudBigtableReplicationEndpoint.java
  hbase-migration-tools/bigtable-hbase-replication/bigtable-hbase-1.x-replication/src/main/java/com/google/cloud/bigtable/hbase1_x/replication/metrics/HBaseMetricsExporter.java
  hbase-migration-tools/bigtable-hbase-replication/bigtable-hbase-1.x-replication/src/test/java/com/google/cloud/bigtable/hbase1_x/replication/HbaseToCloudBigtableReplicationEndpointTest.java
  hbase-migration-tools/bigtable-hbase-replication/bigtable-hbase-1.x-replication/src/test/java/com/google/cloud/bigtable/hbase1_x/replication/metrics/HBaseMetricsExporterTest.java
  hbase-migration-tools/bigtable-hbase-replication/bigtable-hbase-1.x-replication/src/test/resources/log4j.properties
  hbase-migration-tools/bigtable-hbase-replication/bigtable-hbase-2.x-replication/pom.xml
  hbase-migration-tools/bigtable-hbase-replication/bigtable-hbase-2.x-replication/src/main/java/com/google/cloud/bigtable/hbase2_x/replication/HbaseToCloudBigtableReplicationEndpoint.java
  hbase-migration-tools/bigtable-hbase-replication/bigtable-hbase-2.x-replication/src/main/java/com/google/cloud/bigtable/hbase2_x/replication/metrics/HBaseMetricsExporter.java
  hbase-migration-tools/bigtable-hbase-replication/bigtable-hbase-2.x-replication/src/test/java/com/google/cloud/bigtable/hbase2_x/replication/HbaseToCloudBigtableReplicationEndpointTest.java
  hbase-migration-tools/bigtable-hbase-replication/bigtable-hbase-2.x-replication/src/test/resources/log4j.properties
  hbase-migration-tools/bigtable-hbase-replication/bigtable-hbase-replication-core/README.md
  hbase-migration-tools/bigtable-hbase-replication/bigtable-hbase-replication-core/pom.xml
  hbase-migration-tools/bigtable-hbase-replication/bigtable-hbase-replication-core/src/main/java/com/google/cloud/bigtable/hbase/replication/CloudBigtableReplicationTask.java
  hbase-migration-tools/bigtable-hbase-replication/bigtable-hbase-replication-core/src/main/java/com/google/cloud/bigtable/hbase/replication/CloudBigtableReplicator.java
  hbase-migration-tools/bigtable-hbase-replication/bigtable-hbase-replication-core/src/main/java/com/google/cloud/bigtable/hbase/replication/adapters/ApproximatingIncompatibleMutationAdapter.java
  hbase-migration-tools/bigtable-hbase-replication/bigtable-hbase-replication-core/src/main/java/com/google/cloud/bigtable/hbase/replication/adapters/BigtableWALEntry.java
  hbase-migration-tools/bigtable-hbase-replication/bigtable-hbase-replication-core/src/main/java/com/google/cloud/bigtable/hbase/replication/adapters/IncompatibleMutationAdapter.java
  hbase-migration-tools/bigtable-hbase-replication/bigtable-hbase-replication-core/src/main/java/com/google/cloud/bigtable/hbase/replication/adapters/IncompatibleMutationAdapterFactory.java
  hbase-migration-tools/bigtable-hbase-replication/bigtable-hbase-replication-core/src/main/java/com/google/cloud/bigtable/hbase/replication/configuration/HBaseToCloudBigtableReplicationConfiguration.java
  hbase-migration-tools/bigtable-hbase-replication/bigtable-hbase-replication-core/src/main/java/com/google/cloud/bigtable/hbase/replication/metrics/HBaseToCloudBigtableReplicationMetrics.java
  hbase-migration-tools/bigtable-hbase-replication/bigtable-hbase-replication-core/src/main/java/com/google/cloud/bigtable/hbase/replication/metrics/MetricsExporter.java
  hbase-migration-tools/bigtable-hbase-replication/bigtable-hbase-replication-core/src/main/java/com/google/cloud/bigtable/hbase/replication/utils/TestUtils.java
  hbase-migration-tools/bigtable-hbase-replication/bigtable-hbase-replication-core/src/main/resources/log4j.properties
  hbase-migration-tools/bigtable-hbase-replication/bigtable-hbase-replication-core/src/test/java/com/google/cloud/bigtable/hbase/replication/CloudBigtableReplicationTaskTest.java
  hbase-migration-tools/bigtable-hbase-replication/bigtable-hbase-replication-core/src/test/java/com/google/cloud/bigtable/hbase/replication/MutationBuilderTest.java
  hbase-migration-tools/bigtable-hbase-replication/bigtable-hbase-replication-core/src/test/java/com/google/cloud/bigtable/hbase/replication/adapters/ApproximatingIncompatibleMutationAdapterTest.java
  hbase-migration-tools/bigtable-hbase-replication/bigtable-hbase-replication-core/src/test/java/com/google/cloud/bigtable/hbase/replication/adapters/IncompatibleMutationAdapterTest.java
  hbase-migration-tools/bigtable-hbase-replication/pom.xml
  hbase-migration-tools/pom.xml
  pom.xml
  versions.txt
Labels: api: bigtable, automerge
