Repository googleapis/java-bigtable-hbase, pull requests merged in 2022-07, with the labels that each got.

#3677 feat: populate x-goog-params with table name and app profile id
  bigtable-client-core-parent/bigtable-client-core/src/main/java/com/google/cloud/bigtable/grpc/BigtableDataGrpcClient.java
  bigtable-client-core-parent/bigtable-client-core/src/main/java/com/google/cloud/bigtable/grpc/io/GoogleCloudResourcePrefixInterceptor.java
  bigtable-client-core-parent/bigtable-client-core/src/test/java/com/google/cloud/bigtable/grpc/TestBigtableDataGrpcClient.java
  bigtable-client-core-parent/bigtable-hbase/src/test/java/org/apache/hadoop/hbase/client/TestAbstractBigtableConnection.java
Labels: api: bigtable, automerge, size: m

#3683 feat: add ocagent exporter to shaded jars to allow customers more fle…
  bigtable-hbase-1.x-parent/bigtable-hbase-1.x-shaded/pom.xml
  bigtable-hbase-2.x-parent/bigtable-hbase-2.x-shaded/pom.xml
  pom.xml
Labels: api: bigtable, automerge, size: m

#3691 chore: update owlbot.py to ignore graalvm changes, remove unused config
  .kokoro/presubmit/graalvm-native.cfg
  owlbot.py
Labels: api: bigtable, automerge, size: s

#3697 docs: move mirroring readme into correct place
  hbase-migration-tools/mirroring-client/README.md
Labels: api: bigtable, size: xs

#3705 fix: fixing the memory leak in Mirroring connection
  hbase-migration-tools/mirroring-client/bigtable-hbase-mirroring-client-core-parent/bigtable-hbase-mirroring-client-core/src/main/java/com/google/cloud/bigtable/mirroring/core/MirroringConnection.java
Labels: kokoro:force-run, kokoro:run, api: bigtable, size: xs
