Repository googleapis/java-bigtable-hbase, pull requests merged in 2022-10, with the labels that each got.

#3685 chore: relocate bigtable-client-core configurations to bigtable-clien…
  bigtable-client-core-parent/bigtable-client-core-config/pom.xml
  bigtable-client-core-parent/bigtable-client-core-config/src/main/java/com/google/cloud/bigtable/config/BigtableOptions.java
  bigtable-client-core-parent/bigtable-client-core-config/src/main/java/com/google/cloud/bigtable/config/BulkOptions.java
  bigtable-client-core-parent/bigtable-client-core-config/src/main/java/com/google/cloud/bigtable/config/CallOptionsConfig.java
  bigtable-client-core-parent/bigtable-client-core-config/src/main/java/com/google/cloud/bigtable/config/CredentialOptions.java
  bigtable-client-core-parent/bigtable-client-core-config/src/main/java/com/google/cloud/bigtable/config/RetryOptions.java
  bigtable-client-core-parent/bigtable-client-core-config/src/main/java/com/google/cloud/bigtable/grpc/BigtableClusterName.java
  bigtable-client-core-parent/bigtable-client-core-config/src/main/java/com/google/cloud/bigtable/grpc/BigtableInstanceName.java
  bigtable-client-core-parent/bigtable-client-core-config/src/main/java/com/google/cloud/bigtable/grpc/BigtableTableName.java
  bigtable-client-core-parent/bigtable-client-core/pom.xml
  bigtable-client-core-parent/bigtable-client-core/src/main/java/com/google/cloud/bigtable/config/Logger.java
  bigtable-client-core-parent/bigtable-client-core/src/main/java/com/google/cloud/bigtable/core/IBulkMutation.java
  bigtable-client-core-parent/bigtable-client-core/src/main/java/com/google/cloud/bigtable/grpc/async/BulkMutationWrapper.java
  bigtable-client-core-parent/bigtable-client-core/src/main/java/com/google/cloud/bigtable/grpc/io/CredentialInterceptorCache.java
  bigtable-client-core-parent/bigtable-hbase/pom.xml
  bigtable-client-core-parent/bigtable-hbase/src/main/java/com/google/cloud/bigtable/hbase/BigtableOptionsFactory.java
  bigtable-client-core-parent/pom.xml
  bigtable-hbase-1.x-parent/bigtable-hbase-1.x-integration-tests/pom.xml
  bigtable-hbase-1.x-parent/bigtable-hbase-1.x-integration-tests/src/test/java/com/google/cloud/bigtable/hbase/DirectPathFallbackIT.java
  bigtable-hbase-1.x-parent/bigtable-hbase-1.x-integration-tests/src/test/java/com/google/cloud/bigtable/hbase/TestRpcRetryBehavior.java
  bigtable-hbase-1.x-parent/bigtable-hbase-1.x/pom.xml
  bigtable-hbase-2.x-parent/bigtable-hbase-2.x-integration-tests/pom.xml
  bigtable-hbase-2.x-parent/bigtable-hbase-2.x/pom.xml
  bigtable-hbase-2.x-parent/bigtable-hbase-2.x/src/main/java/com/google/cloud/bigtable/hbase2_x/FutureUtils.java
Labels: api: bigtable, size: m

#3818 deps: protobuf-java upgrade to 3.19.6
  bigtable-dataflow-parent/bigtable-beam-import/src/test/java/com/google/cloud/bigtable/beam/hbasesnapshots/EndToEndIT.java
  pom.xml
Labels: api: bigtable, size: xs

#3824 fix: allow creating a managed channel
  bigtable-client-core-parent/bigtable-hbase/src/main/java/com/google/cloud/bigtable/hbase/BigtableOptionsFactory.java
  bigtable-client-core-parent/bigtable-hbase/src/main/java/org/apache/hadoop/hbase/client/AbstractBigtableConnection.java
  bigtable-client-core-parent/bigtable-hbase/src/test/java/org/apache/hadoop/hbase/client/TestAbstractBigtableConnection.java
Labels: api: bigtable, size: s

#3635 fix: Fix logging with PutAdapter and SchemaTranslator
  bigtable-client-core-parent/bigtable-hbase/src/main/java/com/google/cloud/bigtable/hbase/adapters/PutAdapter.java
  bigtable-hbase-1.x-parent/bigtable-hbase-1.x-tools/src/main/java/com/google/cloud/bigtable/hbase/tools/HBaseSchemaTranslator.java
Labels: api: bigtable, automerge, size: xs
