Repository googleapis/java-bigtable-hbase, pull requests merged in 2022-01, with the labels that each got.

#3412 deps: use logback for 1.x tools module
  bigtable-hbase-1.x-parent/bigtable-hbase-1.x-tools/pom.xml
  bigtable-hbase-1.x-parent/bigtable-hbase-1.x-tools/src/main/java/com/google/cloud/bigtable/hbase/tools/HBaseSchemaTranslator.java
  bigtable-hbase-1.x-parent/bigtable-hbase-1.x-tools/src/main/resources/log4j2.xml
  bigtable-hbase-1.x-parent/bigtable-hbase-1.x-tools/src/main/resources/logback.xml
Labels: api: bigtable, automerge

#3425 chore(deps): update logback-classic to 1.2.10
  bigtable-hbase-1.x-parent/bigtable-hbase-1.x-tools/pom.xml
Labels: api: bigtable, automerge

#3422 deps: log4j 2.17.1
  pom.xml
Labels: api: bigtable

#3426 deps: migrate to logback-classic (port of #3425)
  bigtable-hbase-1.x-parent/bigtable-hbase-1.x-tools/pom.xml
  bigtable-hbase-1.x-parent/bigtable-hbase-1.x-tools/src/main/java/com/google/cloud/bigtable/hbase/tools/HBaseSchemaTranslator.java
  bigtable-hbase-1.x-parent/bigtable-hbase-1.x-tools/src/main/resources/log4j2.xml
  bigtable-hbase-1.x-parent/bigtable-hbase-1.x-tools/src/main/resources/logback.xml
Labels: api: bigtable, automerge

#3432 chore: misc pom cleanup
  bigtable-hbase-1.x-parent/bigtable-hbase-1.x-tools/pom.xml
  pom.xml
Labels: api: bigtable

#3434 chore: Updating readme to include table name renaming in schema translator.
  bigtable-hbase-1.x-parent/bigtable-hbase-1.x-tools/README.md
Labels: api: bigtable, automerge

#3430 chore: Updating readme to include table name renaming in schema translator.
  bigtable-hbase-1.x-parent/bigtable-hbase-1.x-tools/README.md
Labels: api: bigtable, automerge

#3436 deps: Updated log4j dependency to log4j 2.17.1
  pom.xml
Labels: api: bigtable

#3413 deps: remove explicit auto value dependency in bigtable-beam-import
  bigtable-dataflow-parent/bigtable-beam-import/pom.xml
Labels: api: bigtable, automerge

#3468 chore: update release-level in .repo-metadata.json
  .repo-metadata.json
Labels: api: bigtable, owlbot:ignore

#3452 chore: Clean up BigtableEnv to create configuration with BigtableConf…
  bigtable-client-core-parent/bigtable-hbase-integration-tests-common/pom.xml
  bigtable-client-core-parent/bigtable-hbase-integration-tests-common/src/test/java/com/google/cloud/bigtable/hbase/test_env/BigtableEnv.java
  bigtable-client-core-parent/bigtable-hbase-integration-tests-common/src/test/java/com/google/cloud/bigtable/hbase/test_env/SharedTestEnv.java
  bigtable-hbase-1.x-parent/bigtable-hbase-1.x-integration-tests/pom.xml
  bigtable-hbase-2.x-parent/bigtable-hbase-2.x-integration-tests/pom.xml
Labels: api: bigtable

#3455 deps: upgrade protobuf to 3.19.2
  bigtable-client-core-parent/bigtable-client-core/pom.xml
  bigtable-client-core-parent/bigtable-hbase/pom.xml
  bigtable-hbase-1.x-parent/bigtable-hbase-1.x-integration-tests/pom.xml
  bigtable-hbase-1.x-parent/bigtable-hbase-1.x-shaded/pom.xml
  bigtable-hbase-1.x-parent/bigtable-hbase-1.x/pom.xml
  bigtable-hbase-2.x-parent/bigtable-hbase-2.x-integration-tests/pom.xml
  bigtable-hbase-2.x-parent/bigtable-hbase-2.x-shaded/pom.xml
  bigtable-hbase-2.x-parent/bigtable-hbase-2.x/pom.xml
  pom.xml
Labels: api: bigtable

#3453 chore: change name to api_shortname in .repo-metadata.json
  .repo-metadata.json
Labels: api: bigtable, owlbot:ignore

#3472 chore: update owlbot image
  .github/.OwlBot.lock.yaml
Labels: api: bigtable, automerge

#3456 fix: filter out results on no-op filters
  CONTRIBUTING.md
  bigtable-client-core-parent/bigtable-hbase-integration-tests-common/src/test/java/com/google/cloud/bigtable/hbase/AbstractTestFilters.java
  bigtable-client-core-parent/bigtable-hbase/src/main/java/com/google/cloud/bigtable/hbase/adapters/filters/QualifierFilterAdapter.java
  bigtable-client-core-parent/bigtable-hbase/src/main/java/com/google/cloud/bigtable/hbase/adapters/filters/ValueFilterAdapter.java
Labels: api: bigtable

#3351 deps: update bigtable veneer to 2.5.1 and shared config to 1.2.6
  bigtable-client-core-parent/bigtable-hbase-integration-tests-common/pom.xml
  bigtable-hbase-1.x-parent/bigtable-hbase-1.x-shaded/pom.xml
  bigtable-hbase-2.x-parent/bigtable-hbase-2.x-shaded/pom.xml
  pom.xml
Labels: cla: yes, api: bigtable
