Repository googleapis/java-bigtable-hbase, pull requests merged in 2023-03, with the labels that each got.

#3992 fix(deps): re-add reload4j as a dependency in bigtable-hbase-beam on …
  bigtable-dataflow-parent/bigtable-hbase-beam/pom.xml
Labels: api: bigtable, size: s

#3991 fix(deps): re-add reload4j as a dependency in bigtable-hbase-beam on …
  bigtable-dataflow-parent/bigtable-hbase-beam/pom.xml
Labels: api: bigtable, size: s

#4002 chore: clean up obsolete file
  .kokoro/readme.sh
Labels: api: bigtable, automerge, size: s

#4012 feat: make dropwizard metrics-core optional
  bigtable-client-core-parent/bigtable-metrics-api/pom.xml
  bigtable-client-core-parent/bigtable-metrics-api/src/main/java/com/google/cloud/bigtable/metrics/BigtableClientMetrics.java
  bigtable-client-core-parent/bigtable-metrics-api/src/main/java/com/google/cloud/bigtable/metrics/DropwizardMetricRegistry.java
Labels: api: bigtable, automerge, size: s

#4014 chore: make bigtable-hbase a drop in migration tool part 1 - hbase 1 libraries
  bigtable-client-core-parent/bigtable-hbase-integration-tests-common/pom.xml
  bigtable-client-core-parent/bigtable-hbase/pom.xml
  bigtable-hbase-1.x-parent/bigtable-hbase-1.x-hadoop/pom.xml
  bigtable-hbase-1.x-parent/bigtable-hbase-1.x-hadoop/src/main/java/com/google/cloud/bigtable/hbase/MavenPlaceholderHadoop1x.java
  bigtable-hbase-1.x-parent/bigtable-hbase-1.x-hadoop/src/test/java/com/google/cloud/bigtable/hbase/TestBigtableConnection.java
  bigtable-hbase-1.x-parent/bigtable-hbase-1.x-integration-tests/pom.xml
  bigtable-hbase-1.x-parent/bigtable-hbase-1.x-mapreduce/pom.xml
  bigtable-hbase-1.x-parent/bigtable-hbase-1.x-shaded/pom.xml
  bigtable-hbase-1.x-parent/bigtable-hbase-1.x-tools/pom.xml
  bigtable-hbase-1.x-parent/bigtable-hbase-1.x/pom.xml
  bigtable-hbase-1.x-parent/pom.xml
  bigtable-hbase-2.x-parent/bigtable-hbase-2.x-hadoop/pom.xml
  bigtable-test/bigtable-build-helper/pom.xml
  bigtable-test/bigtable-build-helper/src/main/java/com/google/cloud/bigtable/test/plugins/VerifyProvidedDeps.java
  hbase-migration-tools/bigtable-hbase-replication/bigtable-hbase-2.x-replication/pom.xml
  hbase-migration-tools/mirroring-client/bigtable-hbase-mirroring-client-1.x-parent/bigtable-hbase-mirroring-client-1.x-integration-tests/pom.xml
  hbase-migration-tools/mirroring-client/bigtable-hbase-mirroring-client-2.x-parent/bigtable-hbase-mirroring-client-2.x-hadoop/pom.xml
  hbase-migration-tools/mirroring-client/bigtable-hbase-mirroring-client-core-parent/pom.xml
  pom.xml
Labels: api: bigtable, size: xl

#4016 chore: disable dependency analysis
  pom.xml
Labels: api: bigtable, size: xs

#4017 chore: remove mirror verification
  bigtable-hbase-1.x-parent/bigtable-hbase-1.x-shaded/pom.xml
Labels: api: bigtable, size: s

#4015 chore: make bigtable-hbase a drop in migration tool part 2 - hbase 2 libraries
  bigtable-hbase-2.x-parent/bigtable-hbase-2.x-hadoop/pom.xml
  bigtable-hbase-2.x-parent/bigtable-hbase-2.x-hadoop/src/main/java/com/google/cloud/bigtable/hbase/MavenPlaceholderHadoop2x.java
  bigtable-hbase-2.x-parent/bigtable-hbase-2.x-hadoop/src/test/java/com/google/cloud/bigtable/hbase/TestBigtableConnection.java
  bigtable-hbase-2.x-parent/bigtable-hbase-2.x-hadoop/src/test/resources/log4j.properties
  bigtable-hbase-2.x-parent/bigtable-hbase-2.x-integration-tests/pom.xml
  bigtable-hbase-2.x-parent/bigtable-hbase-2.x-shaded/pom.xml
  bigtable-hbase-2.x-parent/bigtable-hbase-2.x/pom.xml
  bigtable-hbase-2.x-parent/pom.xml
Labels: api: bigtable, size: l

#4021 drop transitive deps from hbase 1x
  bigtable-hbase-1.x-parent/bigtable-hbase-1.x/pom.xml
Labels: api: bigtable, size: m

#4023 dont ban provided deps
  pom.xml
Labels: api: bigtable, size: xs

#4022 chore: make hbase dependencies provided scope in mirroring-client module
  hbase-migration-tools/bigtable-hbase-replication/bigtable-hbase-2.x-replication/pom.xml
  hbase-migration-tools/bigtable-hbase-replication/bigtable-hbase-replication-core/pom.xml
  hbase-migration-tools/mirroring-client/bigtable-hbase-mirroring-client-1.x-parent/bigtable-hbase-mirroring-client-1.x-hadoop/pom.xml
  hbase-migration-tools/mirroring-client/bigtable-hbase-mirroring-client-1.x-parent/bigtable-hbase-mirroring-client-1.x-hadoop/src/main/java/com/google/cloud/bigtable/mirroring/hbase1_x/MavenPlaceholderHadoop1x.java
  hbase-migration-tools/mirroring-client/bigtable-hbase-mirroring-client-1.x-parent/bigtable-hbase-mirroring-client-1.x-integration-tests/pom.xml
  hbase-migration-tools/mirroring-client/bigtable-hbase-mirroring-client-1.x-parent/bigtable-hbase-mirroring-client-1.x-shaded/pom.xml
  hbase-migration-tools/mirroring-client/bigtable-hbase-mirroring-client-1.x-parent/bigtable-hbase-mirroring-client-1.x/pom.xml
  hbase-migration-tools/mirroring-client/bigtable-hbase-mirroring-client-1.x-parent/pom.xml
  hbase-migration-tools/mirroring-client/bigtable-hbase-mirroring-client-2.x-parent/bigtable-hbase-mirroring-client-1.x-2.x-integration-tests/pom.xml
  hbase-migration-tools/mirroring-client/bigtable-hbase-mirroring-client-2.x-parent/bigtable-hbase-mirroring-client-2.x-hadoop/pom.xml
  hbase-migration-tools/mirroring-client/bigtable-hbase-mirroring-client-2.x-parent/bigtable-hbase-mirroring-client-2.x-hadoop/src/main/java/com/google/cloud/bigtable/mirroring/hbase2_x/MavenPlaceholderHadoop2x.java
  hbase-migration-tools/mirroring-client/bigtable-hbase-mirroring-client-2.x-parent/bigtable-hbase-mirroring-client-2.x-integration-tests/pom.xml
  hbase-migration-tools/mirroring-client/bigtable-hbase-mirroring-client-2.x-parent/bigtable-hbase-mirroring-client-2.x-shaded/pom.xml
  hbase-migration-tools/mirroring-client/bigtable-hbase-mirroring-client-2.x-parent/bigtable-hbase-mirroring-client-2.x/pom.xml
  hbase-migration-tools/mirroring-client/bigtable-hbase-mirroring-client-2.x-parent/pom.xml
  hbase-migration-tools/mirroring-client/bigtable-hbase-mirroring-client-core-parent/bigtable-hbase-mirroring-client-core/pom.xml
Labels: api: bigtable, size: l

#4028 chore: fix dropwizard probing
  bigtable-client-core-parent/bigtable-metrics-api/src/main/java/com/google/cloud/bigtable/metrics/BigtableClientMetrics.java
  bigtable-client-core-parent/bigtable-metrics-api/src/main/java/com/google/cloud/bigtable/metrics/DropwizardMetricRegistry.java
Labels: api: bigtable, size: s

#4030 clean up core & 1x pom files
  bigtable-client-core-parent/bigtable-hbase-integration-tests-common/pom.xml
  bigtable-hbase-1.x-parent/bigtable-hbase-1.x-integration-tests/pom.xml
  bigtable-hbase-1.x-parent/bigtable-hbase-1.x-mapreduce/assembly/shaded-byo-hadoop.xml
  bigtable-hbase-1.x-parent/bigtable-hbase-1.x-mapreduce/assembly/shaded.xml
  bigtable-hbase-1.x-parent/bigtable-hbase-1.x-mapreduce/pom.xml
  bigtable-hbase-1.x-parent/bigtable-hbase-1.x-mapreduce/src/test/java/AssemblyConfigTest.java
  bigtable-hbase-1.x-parent/bigtable-hbase-1.x-tools/pom.xml
  bigtable-hbase-1.x-parent/bigtable-hbase-1.x-tools/src/main/resources/log4j.properties
  bigtable-hbase-1.x-parent/bigtable-hbase-1.x-tools/src/main/resources/logback.xml
  bigtable-hbase-1.x-parent/bigtable-hbase-1.x-tools/src/test/java/com/google/cloud/bigtable/hbase/tools/HBaseSchemaTransformerTest.java
  bigtable-hbase-1.x-parent/bigtable-hbase-1.x/pom.xml
  pom.xml
Labels: api: bigtable, size: l

#4032 fix: dropwizard metrics probing
  bigtable-client-core-parent/bigtable-metrics-api/src/main/java/com/google/cloud/bigtable/metrics/BigtableClientMetrics.java
Labels: api: bigtable, size: xs

#4033 chore: make dropwizard metrics an optional dependency
  bigtable-hbase-1.x-parent/bigtable-hbase-1.x-mapreduce/pom.xml
  bigtable-hbase-1.x-parent/bigtable-hbase-1.x-shaded/pom.xml
  bigtable-hbase-1.x-parent/bigtable-hbase-1.x-tools/pom.xml
  bigtable-hbase-2.x-parent/bigtable-hbase-2.x-shaded/pom.xml
  bigtable-hbase-2.x-parent/bigtable-hbase-2.x/pom.xml
  hbase-migration-tools/bigtable-hbase-replication/bigtable-hbase-1.x-replication/pom.xml
  hbase-migration-tools/bigtable-hbase-replication/bigtable-hbase-2.x-replication/pom.xml
  hbase-migration-tools/bigtable-hbase-replication/bigtable-hbase-replication-core/pom.xml
  hbase-migration-tools/mirroring-client/bigtable-hbase-mirroring-client-2.x-parent/bigtable-hbase-mirroring-client-1.x-2.x-integration-tests/pom.xml
  hbase-migration-tools/mirroring-client/bigtable-hbase-mirroring-client-2.x-parent/bigtable-hbase-mirroring-client-2.x-integration-tests/pom.xml
Labels: api: bigtable, size: m

#4037 chore: cleanup shading of provided deps
  bigtable-hbase-1.x-parent/bigtable-hbase-1.x-shaded/pom.xml
  bigtable-hbase-1.x-parent/bigtable-hbase-1.x/pom.xml
  pom.xml
Labels: api: bigtable, size: m

#4039 chore: cleanup replication
  hbase-migration-tools/bigtable-hbase-replication/bigtable-hbase-1.x-replication/pom.xml
  hbase-migration-tools/bigtable-hbase-replication/bigtable-hbase-2.x-replication/pom.xml
  hbase-migration-tools/bigtable-hbase-replication/bigtable-hbase-replication-core/pom.xml
Labels: api: bigtable, size: l

#4038 chore: cleanup 2x with provided scopes
  bigtable-hbase-2.x-parent/bigtable-hbase-2.x-shaded/pom.xml
  bigtable-hbase-2.x-parent/bigtable-hbase-2.x/pom.xml
Labels: api: bigtable, size: m

#4042 more clean up on mirroring
  hbase-migration-tools/mirroring-client/bigtable-hbase-mirroring-client-1.x-parent/bigtable-hbase-mirroring-client-1.x-integration-tests/pom.xml
  hbase-migration-tools/mirroring-client/bigtable-hbase-mirroring-client-1.x-parent/bigtable-hbase-mirroring-client-1.x-shaded/pom.xml
  hbase-migration-tools/mirroring-client/bigtable-hbase-mirroring-client-1.x-parent/bigtable-hbase-mirroring-client-1.x/pom.xml
  hbase-migration-tools/mirroring-client/bigtable-hbase-mirroring-client-2.x-parent/bigtable-hbase-mirroring-client-1.x-2.x-integration-tests/pom.xml
  hbase-migration-tools/mirroring-client/bigtable-hbase-mirroring-client-2.x-parent/bigtable-hbase-mirroring-client-2.x-integration-tests/pom.xml
  hbase-migration-tools/mirroring-client/bigtable-hbase-mirroring-client-2.x-parent/bigtable-hbase-mirroring-client-2.x-shaded/pom.xml
  hbase-migration-tools/mirroring-client/bigtable-hbase-mirroring-client-2.x-parent/bigtable-hbase-mirroring-client-2.x/pom.xml
  hbase-migration-tools/mirroring-client/bigtable-hbase-mirroring-client-core-parent/bigtable-hbase-mirroring-client-core/pom.xml
  hbase-migration-tools/mirroring-client/bigtable-hbase-mirroring-client-core-parent/bigtable-hbase-mirroring-client-core/src/main/java/com/google/cloud/bigtable/mirroring/core/MirroringTable.java
  hbase-migration-tools/mirroring-client/bigtable-hbase-mirroring-client-core-parent/bigtable-hbase-mirroring-client-core/src/main/java/com/google/cloud/bigtable/mirroring/core/WriteOperationFutureCallback.java
  hbase-migration-tools/mirroring-client/bigtable-hbase-mirroring-client-core-parent/bigtable-hbase-mirroring-client-core/src/main/java/com/google/cloud/bigtable/mirroring/core/bufferedmutator/ConcurrentMirroringBufferedMutator.java
  hbase-migration-tools/mirroring-client/bigtable-hbase-mirroring-client-core-parent/bigtable-hbase-mirroring-client-core/src/main/java/com/google/cloud/bigtable/mirroring/core/bufferedmutator/SequentialMirroringBufferedMutator.java
  hbase-migration-tools/mirroring-client/bigtable-hbase-mirroring-client-core-parent/bigtable-hbase-mirroring-client-core/src/main/java/com/google/cloud/bigtable/mirroring/core/utils/BatchHelpers.java
  hbase-migration-tools/mirroring-client/bigtable-hbase-mirroring-client-core-parent/bigtable-hbase-mirroring-client-core/src/main/java/com/google/cloud/bigtable/mirroring/core/utils/Batcher.java
  hbase-migration-tools/mirroring-client/bigtable-hbase-mirroring-client-core-parent/bigtable-hbase-mirroring-client-core/src/main/java/com/google/cloud/bigtable/mirroring/core/utils/RequestScheduling.java
  hbase-migration-tools/mirroring-client/bigtable-hbase-mirroring-client-core-parent/bigtable-hbase-mirroring-client-core/src/main/java/com/google/cloud/bigtable/mirroring/core/utils/mirroringmetrics/MirroringSpanFactory.java
  hbase-migration-tools/mirroring-client/bigtable-hbase-mirroring-client-core-parent/bigtable-hbase-mirroring-client-core/src/main/java/com/google/cloud/bigtable/mirroring/core/verification/VerificationContinuationFactory.java
  hbase-migration-tools/mirroring-client/bigtable-hbase-mirroring-client-core-parent/bigtable-hbase-mirroring-client-core/src/test/java/com/google/cloud/bigtable/mirroring/core/TestMirroringResultScanner.java
  hbase-migration-tools/mirroring-client/pom.xml
Labels: api: bigtable, size: l

#4044 chore: fix version of metrics api
  pom.xml
Labels: api: bigtable, size: xs

#4041 disable version consistency checks replication
  hbase-migration-tools/bigtable-hbase-replication/bigtable-hbase-2.x-replication/pom.xml
Labels: api: bigtable, size: s

#4040 chore: tweaks to beam
  bigtable-dataflow-parent/bigtable-beam-import/pom.xml
  bigtable-dataflow-parent/bigtable-hbase-beam/pom.xml
  bigtable-hbase-1.x-parent/bigtable-hbase-1.x-shaded/pom.xml
Labels: api: bigtable, size: m

#4045 chore: minor cleanups
  bigtable-hbase-1.x-parent/bigtable-hbase-1.x/src/test/java/com/google/cloud/bigtable/hbase1_x/TestBigtableConnection.java
  hbase-migration-tools/mirroring-client/bigtable-hbase-mirroring-client-core-parent/bigtable-hbase-mirroring-client-core/src/main/java/com/google/cloud/bigtable/mirroring/core/utils/RequestScheduling.java
  hbase-migration-tools/mirroring-client/bigtable-hbase-mirroring-client-core-parent/bigtable-hbase-mirroring-client-core/src/main/java/com/google/cloud/bigtable/mirroring/core/utils/mirroringmetrics/MirroringSpanFactory.java
Labels: api: bigtable, size: s

#3901 fix: fix CloudBigtableIO scan to take version and filters
  bigtable-client-core-parent/bigtable-hbase/src/main/java/com/google/cloud/bigtable/hbase/BigtableFixedProtoScan.java
  bigtable-client-core-parent/bigtable-hbase/src/main/java/com/google/cloud/bigtable/hbase/adapters/HBaseRequestAdapter.java
  bigtable-client-core-parent/bigtable-hbase/src/main/java/com/google/cloud/bigtable/hbase/adapters/read/GetAdapter.java
  bigtable-client-core-parent/bigtable-hbase/src/main/java/com/google/cloud/bigtable/hbase/adapters/read/ReadOperationAdapter.java
  bigtable-client-core-parent/bigtable-hbase/src/main/java/com/google/cloud/bigtable/hbase/adapters/read/ScanAdapter.java
  bigtable-client-core-parent/bigtable-hbase/src/test/java/com/google/cloud/bigtable/hbase/adapters/read/TestScanAdapter.java
  bigtable-dataflow-parent/bigtable-beam-import/src/main/java/com/google/cloud/bigtable/beam/TemplateUtils.java
  bigtable-dataflow-parent/bigtable-hbase-beam/src/main/java/com/google/cloud/bigtable/beam/CloudBigtableConfiguration.java
  bigtable-dataflow-parent/bigtable-hbase-beam/src/main/java/com/google/cloud/bigtable/beam/CloudBigtableIO.java
  bigtable-dataflow-parent/bigtable-hbase-beam/src/main/java/com/google/cloud/bigtable/beam/CloudBigtableScanConfiguration.java
  bigtable-dataflow-parent/bigtable-hbase-beam/src/main/java/com/google/cloud/bigtable/beam/CloudBigtableTableConfiguration.java
  bigtable-dataflow-parent/bigtable-hbase-beam/src/main/java/com/google/cloud/bigtable/beam/ScanValueProvider.java
  bigtable-dataflow-parent/bigtable-hbase-beam/src/test/java/com/google/cloud/bigtable/beam/CloudBigtableIOTest.java
  bigtable-dataflow-parent/bigtable-hbase-beam/src/test/java/com/google/cloud/bigtable/beam/CloudBigtableScanConfigurationTest.java
Labels: api: bigtable, automerge, size: l

#4047 chore: clean up maven plugins
  bigtable-client-core-parent/bigtable-hbase/pom.xml
  bigtable-hbase-1.x-parent/bigtable-hbase-1.x-integration-tests/pom.xml
  bigtable-hbase-2.x-parent/bigtable-hbase-2.x-integration-tests/pom.xml
  bigtable-hbase-2.x-parent/bigtable-hbase-2.x-shaded/pom.xml
  bigtable-hbase-2.x-parent/bigtable-hbase-2.x/pom.xml
  hbase-migration-tools/bigtable-hbase-replication/bigtable-hbase-2.x-replication/pom.xml
  hbase-migration-tools/mirroring-client/bigtable-hbase-mirroring-client-1.x-parent/bigtable-hbase-mirroring-client-1.x-integration-tests/pom.xml
  hbase-migration-tools/mirroring-client/bigtable-hbase-mirroring-client-1.x-parent/bigtable-hbase-mirroring-client-1.x/pom.xml
  hbase-migration-tools/mirroring-client/bigtable-hbase-mirroring-client-2.x-parent/bigtable-hbase-mirroring-client-1.x-2.x-integration-tests/pom.xml
  hbase-migration-tools/mirroring-client/bigtable-hbase-mirroring-client-2.x-parent/bigtable-hbase-mirroring-client-2.x-integration-tests/pom.xml
  hbase-migration-tools/mirroring-client/bigtable-hbase-mirroring-client-2.x-parent/bigtable-hbase-mirroring-client-2.x-shaded/pom.xml
  hbase-migration-tools/mirroring-client/bigtable-hbase-mirroring-client-2.x-parent/bigtable-hbase-mirroring-client-2.x/pom.xml
  hbase-migration-tools/mirroring-client/bigtable-hbase-mirroring-client-core-parent/pom.xml
  hbase-migration-tools/mirroring-client/bigtable-hbase-mirroring-client-core-parent/protobuf-java-format-shaded/pom.xml
Labels: api: bigtable, size: l

#4043 feat: use concrete classes for hbase.client.registry.impl
  bigtable-client-core-parent/bigtable-hbase/src/main/java/com/google/cloud/bigtable/hbase/BigtableConfiguration.java
  bigtable-client-core-parent/bigtable-hbase/src/main/java/org/apache/hadoop/hbase/client/BigtableAsyncRegistry.java
  bigtable-hbase-2.x-parent/bigtable-hbase-2.x-shaded/pom.xml
  bigtable-hbase-2.x-parent/bigtable-hbase-2.x/src/main/java/org/apache/hadoop/hbase/client/BigtableAsyncRegistry.java
  bigtable-hbase-2.x-parent/bigtable-hbase-2.x/src/main/java/org/apache/hadoop/hbase/client/BigtableConnectionRegistry.java
  third_party/third_party_hbase_client_pre23/LICENSE
  third_party/third_party_hbase_client_pre23/METADATA
  third_party/third_party_hbase_client_pre23/NOTICE
  third_party/third_party_hbase_client_pre23/src/main/java/org/apache/hadoop/hbase/client/AsyncRegistry.java
Labels: api: bigtable, size: xl
