Repository googleapis/java-bigtable-hbase, pull requests merged in 2023-01, with the labels that each got.

#3923 doc: update readme to recommend using builtin metrics
  README.md
Labels: api: bigtable, automerge, size: m

#3927 chore(deps): bump build & test deps
  bigtable-test/bigtable-build-helper/src/it/verify-mirror-deps-ok/pom.xml
  bigtable-test/bigtable-emulator-maven-plugin/pom.xml
Labels: api: bigtable, automerge, size: s

#3929 chore: remove unused benchmarks
  bigtable-hbase-1.x-parent/bigtable-hbase-1.x-benchmarks/README.md
  bigtable-hbase-1.x-parent/bigtable-hbase-1.x-benchmarks/pom.xml
  bigtable-hbase-1.x-parent/bigtable-hbase-1.x-benchmarks/src/main/java/com/google/cloud/bigtable/hbase1_x/BenchmarkSetupUtils.java
  bigtable-hbase-1.x-parent/bigtable-hbase-1.x-benchmarks/src/main/java/com/google/cloud/bigtable/hbase1_x/BigtableBenchmark.java
  bigtable-hbase-1.x-parent/bigtable-hbase-1.x-benchmarks/src/main/resources/log4j.properties
  bigtable-hbase-1.x-parent/pom.xml
Labels: api: bigtable, size: l

#3934 deps: update google-cloud-bigtable dependencies
  bigtable-client-core-parent/bigtable-hbase/src/main/java/com/google/cloud/bigtable/hbase/wrappers/veneer/SharedDataClientWrapperFactory.java
  bigtable-client-core-parent/bigtable-hbase/src/test/java/com/google/cloud/bigtable/hbase/wrappers/veneer/TestBigtableHBaseVeneerSettings.java
  bigtable-dataflow-parent/bigtable-hbase-beam/src/main/java/com/google/cloud/bigtable/batch/common/CloudBigtableServiceImpl.java
  bigtable-hbase-1.x-parent/bigtable-hbase-1.x-mapreduce/pom.xml
  bigtable-hbase-1.x-parent/bigtable-hbase-1.x-shaded/pom.xml
  bigtable-hbase-2.x-parent/bigtable-hbase-2.x-shaded/pom.xml
  pom.xml
Labels: api: bigtable, automerge, size: m

#3937 doc: Clarify in readme that dataflow is not supported
  README.md
Labels: api: bigtable, size: xs

#3940 fix: fix compatibility of CloudBigtableIO with the emulator env var
  bigtable-client-core-parent/bigtable-hbase/src/main/java/com/google/cloud/bigtable/hbase/wrappers/veneer/BigtableHBaseVeneerSettings.java
  bigtable-dataflow-parent/bigtable-hbase-beam/src/main/java/com/google/cloud/bigtable/beam/CloudBigtableIO.java
Labels: api: bigtable, automerge, size: xs
