Repository googleapis/java-bigtable-hbase, pull requests merged in 2023-07, with the labels that each got.

#4122 deps: update bigtable dependency version to fix mutation limit
  bigtable-client-core-parent/bigtable-hbase/src/test/java/com/google/cloud/bigtable/hbase/wrappers/veneer/TestBulkMutationVeneerApi.java
  pom.xml
Labels: api: bigtable, size: s

#4126 chore: setup 2.9.x lts branch
  .github/release-please.yml
  .github/sync-repo-settings.yaml
Labels: api: bigtable, automerge, size: s

#4100 feat: Add a new configuration key to inject custom credentials class for authentication
  bigtable-client-core-parent/bigtable-hbase/src/main/java/com/google/cloud/bigtable/hbase/BigtableOAuth2Credentials.java
  bigtable-client-core-parent/bigtable-hbase/src/main/java/com/google/cloud/bigtable/hbase/BigtableOptionsFactory.java
  bigtable-client-core-parent/bigtable-hbase/src/main/java/com/google/cloud/bigtable/hbase/wrappers/veneer/BigtableCredentialsWrapper.java
  bigtable-client-core-parent/bigtable-hbase/src/main/java/com/google/cloud/bigtable/hbase/wrappers/veneer/BigtableHBaseVeneerSettings.java
  bigtable-client-core-parent/bigtable-hbase/src/test/java/com/google/cloud/bigtable/hbase/util/TestCustomCredentialsProvider.java
Labels: api: bigtable, automerge, size: l

#4134 doc: update contributing doc to include authentication step
  CONTRIBUTING.md
Labels: api: bigtable, automerge, size: xs

#4130 fix: bidirectional replication flakey test
  hbase-migration-tools/bigtable-hbase-replication/bigtable-hbase-1.x-replication/src/test/java/com/google/cloud/bigtable/hbase1_x/replication/HbaseToCloudBigtableBidirectionalReplicationEndpointTest.java
  hbase-migration-tools/bigtable-hbase-replication/bigtable-hbase-2.x-replication/src/test/java/com/google/cloud/bigtable/hbase2_x/replication/HbaseToCloudBigtableBidirectionalReplicationEndpointTest.java
Labels: api: bigtable, automerge, size: s
