Repository googleapis/java-bigtable-hbase, pull requests merged in 2024-04, with the labels that each got.

#4329 chore: fix 2.13 versions
  bigtable-client-core-parent/bigtable-hbase-integration-tests-common/pom.xml
  bigtable-client-core-parent/bigtable-hbase/pom.xml
  bigtable-client-core-parent/bigtable-hbase/src/main/java/com/google/cloud/bigtable/hbase/BigtableHBaseVersion.java
  bigtable-client-core-parent/pom.xml
  bigtable-dataflow-parent/bigtable-beam-import/pom.xml
  bigtable-dataflow-parent/bigtable-hbase-beam/pom.xml
  bigtable-dataflow-parent/pom.xml
  bigtable-hbase-1.x-parent/bigtable-hbase-1.x-hadoop/pom.xml
  bigtable-hbase-1.x-parent/bigtable-hbase-1.x-integration-tests/pom.xml
  bigtable-hbase-1.x-parent/bigtable-hbase-1.x-mapreduce/pom.xml
  bigtable-hbase-1.x-parent/bigtable-hbase-1.x-shaded/pom.xml
  bigtable-hbase-1.x-parent/bigtable-hbase-1.x-tools/pom.xml
  bigtable-hbase-1.x-parent/bigtable-hbase-1.x/pom.xml
  bigtable-hbase-1.x-parent/pom.xml
  bigtable-hbase-2.x-parent/bigtable-hbase-2.x-hadoop/pom.xml
  bigtable-hbase-2.x-parent/bigtable-hbase-2.x-integration-tests/pom.xml
  bigtable-hbase-2.x-parent/bigtable-hbase-2.x-shaded/pom.xml
  bigtable-hbase-2.x-parent/bigtable-hbase-2.x/pom.xml
  bigtable-hbase-2.x-parent/pom.xml
  bigtable-test/bigtable-build-helper/pom.xml
  bigtable-test/bigtable-build-helper/src/it/verify-mirror-deps-misaligned/pom.xml
  bigtable-test/bigtable-build-helper/src/it/verify-mirror-deps-ok/pom.xml
  bigtable-test/bigtable-build-helper/src/it/verify-shaded-exclusions-ok/pom.xml
  bigtable-test/bigtable-build-helper/src/it/verify-shaded-exclusions-unpromoted/pom.xml
  bigtable-test/bigtable-build-helper/src/it/verify-shaded-jar-entries-leak/pom.xml
  bigtable-test/bigtable-build-helper/src/it/verify-shaded-jar-entries-ok/pom.xml
  bigtable-test/bigtable-emulator-maven-plugin/pom.xml
  bigtable-test/bigtable-internal-test-helper/pom.xml
  bigtable-test/pom.xml
  hbase-migration-tools/bigtable-hbase-replication/bigtable-hbase-1.x-replication/pom.xml
  hbase-migration-tools/bigtable-hbase-replication/bigtable-hbase-2.x-replication/pom.xml
  hbase-migration-tools/bigtable-hbase-replication/bigtable-hbase-replication-core/pom.xml
  hbase-migration-tools/bigtable-hbase-replication/pom.xml
  hbase-migration-tools/mirroring-client/bigtable-hbase-mirroring-client-1.x-parent/bigtable-hbase-mirroring-client-1.x-hadoop/pom.xml
  hbase-migration-tools/mirroring-client/bigtable-hbase-mirroring-client-1.x-parent/bigtable-hbase-mirroring-client-1.x-integration-tests/pom.xml
  hbase-migration-tools/mirroring-client/bigtable-hbase-mirroring-client-1.x-parent/bigtable-hbase-mirroring-client-1.x-shaded/pom.xml
  hbase-migration-tools/mirroring-client/bigtable-hbase-mirroring-client-1.x-parent/bigtable-hbase-mirroring-client-1.x/pom.xml
  hbase-migration-tools/mirroring-client/bigtable-hbase-mirroring-client-1.x-parent/pom.xml
  hbase-migration-tools/mirroring-client/bigtable-hbase-mirroring-client-2.x-parent/bigtable-hbase-mirroring-client-1.x-2.x-integration-tests/pom.xml
  hbase-migration-tools/mirroring-client/bigtable-hbase-mirroring-client-2.x-parent/bigtable-hbase-mirroring-client-2.x-hadoop/pom.xml
  hbase-migration-tools/mirroring-client/bigtable-hbase-mirroring-client-2.x-parent/bigtable-hbase-mirroring-client-2.x-integration-tests/pom.xml
  hbase-migration-tools/mirroring-client/bigtable-hbase-mirroring-client-2.x-parent/bigtable-hbase-mirroring-client-2.x-shaded/pom.xml
  hbase-migration-tools/mirroring-client/bigtable-hbase-mirroring-client-2.x-parent/bigtable-hbase-mirroring-client-2.x/pom.xml
  hbase-migration-tools/mirroring-client/bigtable-hbase-mirroring-client-2.x-parent/pom.xml
  hbase-migration-tools/mirroring-client/bigtable-hbase-mirroring-client-core-parent/bigtable-hbase-mirroring-client-core/pom.xml
  hbase-migration-tools/mirroring-client/bigtable-hbase-mirroring-client-core-parent/pom.xml
  hbase-migration-tools/mirroring-client/bigtable-hbase-mirroring-client-core-parent/protobuf-java-format-shaded/pom.xml
  hbase-migration-tools/mirroring-client/pom.xml
  hbase-migration-tools/pom.xml
  pom.xml
  versions.txt
Labels: api: bigtable, automerge, size: m

#4331 chore: fix main versions
  hbase-migration-tools/bigtable-hbase-replication/bigtable-hbase-1.x-replication/pom.xml
  hbase-migration-tools/bigtable-hbase-replication/bigtable-hbase-2.x-replication/pom.xml
  hbase-migration-tools/bigtable-hbase-replication/bigtable-hbase-replication-core/pom.xml
  hbase-migration-tools/bigtable-hbase-replication/pom.xml
  hbase-migration-tools/mirroring-client/bigtable-hbase-mirroring-client-1.x-parent/bigtable-hbase-mirroring-client-1.x-hadoop/pom.xml
  hbase-migration-tools/mirroring-client/bigtable-hbase-mirroring-client-1.x-parent/bigtable-hbase-mirroring-client-1.x-integration-tests/pom.xml
  hbase-migration-tools/mirroring-client/bigtable-hbase-mirroring-client-1.x-parent/bigtable-hbase-mirroring-client-1.x-shaded/pom.xml
  hbase-migration-tools/mirroring-client/bigtable-hbase-mirroring-client-1.x-parent/bigtable-hbase-mirroring-client-1.x/pom.xml
  hbase-migration-tools/mirroring-client/bigtable-hbase-mirroring-client-1.x-parent/pom.xml
  hbase-migration-tools/mirroring-client/bigtable-hbase-mirroring-client-2.x-parent/bigtable-hbase-mirroring-client-1.x-2.x-integration-tests/pom.xml
  hbase-migration-tools/mirroring-client/bigtable-hbase-mirroring-client-2.x-parent/bigtable-hbase-mirroring-client-2.x-hadoop/pom.xml
  hbase-migration-tools/mirroring-client/bigtable-hbase-mirroring-client-2.x-parent/bigtable-hbase-mirroring-client-2.x-integration-tests/pom.xml
  hbase-migration-tools/mirroring-client/bigtable-hbase-mirroring-client-2.x-parent/bigtable-hbase-mirroring-client-2.x-shaded/pom.xml
  hbase-migration-tools/mirroring-client/bigtable-hbase-mirroring-client-2.x-parent/bigtable-hbase-mirroring-client-2.x/pom.xml
  hbase-migration-tools/mirroring-client/bigtable-hbase-mirroring-client-2.x-parent/pom.xml
  hbase-migration-tools/mirroring-client/bigtable-hbase-mirroring-client-core-parent/bigtable-hbase-mirroring-client-core/pom.xml
  hbase-migration-tools/mirroring-client/bigtable-hbase-mirroring-client-core-parent/pom.xml
  hbase-migration-tools/mirroring-client/bigtable-hbase-mirroring-client-core-parent/protobuf-java-format-shaded/pom.xml
  hbase-migration-tools/mirroring-client/pom.xml
  versions.txt
Labels: api: bigtable, automerge, size: m

#4332 chore: fix 2.12.x versions
  bigtable-client-core-parent/bigtable-hbase-integration-tests-common/pom.xml
  bigtable-client-core-parent/bigtable-hbase/pom.xml
  bigtable-client-core-parent/bigtable-hbase/src/main/java/com/google/cloud/bigtable/hbase/BigtableHBaseVersion.java
  bigtable-client-core-parent/pom.xml
  bigtable-dataflow-parent/bigtable-beam-import/pom.xml
  bigtable-dataflow-parent/bigtable-hbase-beam/pom.xml
  bigtable-dataflow-parent/pom.xml
  bigtable-hbase-1.x-parent/bigtable-hbase-1.x-hadoop/pom.xml
  bigtable-hbase-1.x-parent/bigtable-hbase-1.x-integration-tests/pom.xml
  bigtable-hbase-1.x-parent/bigtable-hbase-1.x-mapreduce/pom.xml
  bigtable-hbase-1.x-parent/bigtable-hbase-1.x-shaded/pom.xml
  bigtable-hbase-1.x-parent/bigtable-hbase-1.x-tools/pom.xml
  bigtable-hbase-1.x-parent/bigtable-hbase-1.x/pom.xml
  bigtable-hbase-1.x-parent/pom.xml
  bigtable-hbase-2.x-parent/bigtable-hbase-2.x-hadoop/pom.xml
  bigtable-hbase-2.x-parent/bigtable-hbase-2.x-integration-tests/pom.xml
  bigtable-hbase-2.x-parent/bigtable-hbase-2.x-shaded/pom.xml
  bigtable-hbase-2.x-parent/bigtable-hbase-2.x/pom.xml
  bigtable-hbase-2.x-parent/pom.xml
  bigtable-test/bigtable-build-helper/pom.xml
  bigtable-test/bigtable-build-helper/src/it/verify-mirror-deps-misaligned/pom.xml
  bigtable-test/bigtable-build-helper/src/it/verify-mirror-deps-ok/pom.xml
  bigtable-test/bigtable-build-helper/src/it/verify-shaded-exclusions-ok/pom.xml
  bigtable-test/bigtable-build-helper/src/it/verify-shaded-exclusions-unpromoted/pom.xml
  bigtable-test/bigtable-build-helper/src/it/verify-shaded-jar-entries-leak/pom.xml
  bigtable-test/bigtable-build-helper/src/it/verify-shaded-jar-entries-ok/pom.xml
  bigtable-test/bigtable-emulator-maven-plugin/pom.xml
  bigtable-test/bigtable-internal-test-helper/pom.xml
  bigtable-test/pom.xml
  hbase-migration-tools/bigtable-hbase-replication/bigtable-hbase-1.x-replication/pom.xml
  hbase-migration-tools/bigtable-hbase-replication/bigtable-hbase-2.x-replication/pom.xml
  hbase-migration-tools/bigtable-hbase-replication/bigtable-hbase-replication-core/pom.xml
  hbase-migration-tools/bigtable-hbase-replication/pom.xml
  hbase-migration-tools/mirroring-client/bigtable-hbase-mirroring-client-1.x-parent/bigtable-hbase-mirroring-client-1.x-hadoop/pom.xml
  hbase-migration-tools/mirroring-client/bigtable-hbase-mirroring-client-1.x-parent/bigtable-hbase-mirroring-client-1.x-integration-tests/pom.xml
  hbase-migration-tools/mirroring-client/bigtable-hbase-mirroring-client-1.x-parent/bigtable-hbase-mirroring-client-1.x-shaded/pom.xml
  hbase-migration-tools/mirroring-client/bigtable-hbase-mirroring-client-1.x-parent/bigtable-hbase-mirroring-client-1.x/pom.xml
  hbase-migration-tools/mirroring-client/bigtable-hbase-mirroring-client-1.x-parent/pom.xml
  hbase-migration-tools/mirroring-client/bigtable-hbase-mirroring-client-2.x-parent/bigtable-hbase-mirroring-client-1.x-2.x-integration-tests/pom.xml
  hbase-migration-tools/mirroring-client/bigtable-hbase-mirroring-client-2.x-parent/bigtable-hbase-mirroring-client-2.x-hadoop/pom.xml
  hbase-migration-tools/mirroring-client/bigtable-hbase-mirroring-client-2.x-parent/bigtable-hbase-mirroring-client-2.x-integration-tests/pom.xml
  hbase-migration-tools/mirroring-client/bigtable-hbase-mirroring-client-2.x-parent/bigtable-hbase-mirroring-client-2.x-shaded/pom.xml
  hbase-migration-tools/mirroring-client/bigtable-hbase-mirroring-client-2.x-parent/bigtable-hbase-mirroring-client-2.x/pom.xml
  hbase-migration-tools/mirroring-client/bigtable-hbase-mirroring-client-2.x-parent/pom.xml
  hbase-migration-tools/mirroring-client/bigtable-hbase-mirroring-client-core-parent/bigtable-hbase-mirroring-client-core/pom.xml
  hbase-migration-tools/mirroring-client/bigtable-hbase-mirroring-client-core-parent/pom.xml
  hbase-migration-tools/mirroring-client/bigtable-hbase-mirroring-client-core-parent/protobuf-java-format-shaded/pom.xml
  hbase-migration-tools/mirroring-client/pom.xml
  hbase-migration-tools/pom.xml
  pom.xml
  versions.txt
Labels: api: bigtable, size: m

#4328 deps: partial upgrade to hbase 2.5
  bigtable-client-core-parent/bigtable-hbase-integration-tests-common/src/test/java/com/google/cloud/bigtable/hbase/AbstractTestBatch.java
  bigtable-client-core-parent/bigtable-hbase-integration-tests-common/src/test/java/com/google/cloud/bigtable/hbase/AbstractTestCheckAndMutate.java
  bigtable-client-core-parent/bigtable-hbase-integration-tests-common/src/test/java/com/google/cloud/bigtable/hbase/test_helpers/ResultSubject.java
  bigtable-client-core-parent/bigtable-hbase/src/main/java/com/google/cloud/bigtable/hbase/AbstractBigtableTable.java
  bigtable-client-core-parent/bigtable-hbase/src/test/java/com/google/cloud/bigtable/hbase/TestBigtableTable.java
  bigtable-client-core-parent/bigtable-hbase/src/test/java/org/apache/hadoop/hbase/client/TestAbstractBigtableConnection.java
  bigtable-hbase-1.x-parent/bigtable-hbase-1.x-integration-tests/src/test/java/com/google/cloud/bigtable/hbase/TestBasicOps.java
  bigtable-hbase-1.x-parent/bigtable-hbase-1.x/src/main/java/com/google/cloud/bigtable/hbase1_x/BigtableConnection.java
  bigtable-hbase-1.x-parent/bigtable-hbase-1.x/src/main/java/com/google/cloud/bigtable/hbase1_x/BigtableTable.java
  bigtable-hbase-1.x-parent/bigtable-hbase-1.x/src/test/java/com/google/cloud/bigtable/hbase/TestBigtableConnection.java
  bigtable-hbase-2.x-parent/bigtable-hbase-2.x-integration-tests/pom.xml
  bigtable-hbase-2.x-parent/bigtable-hbase-2.x-integration-tests/src/test/java/com/google/cloud/bigtable/hbase/TestBasicOps.java
  bigtable-hbase-2.x-parent/bigtable-hbase-2.x-shaded/pom.xml
  bigtable-hbase-2.x-parent/bigtable-hbase-2.x/src/main/java/com/google/cloud/bigtable/hbase2_x/BigtableAsyncTable.java
  bigtable-hbase-2.x-parent/bigtable-hbase-2.x/src/main/java/com/google/cloud/bigtable/hbase2_x/BigtableConnection.java
  bigtable-hbase-2.x-parent/bigtable-hbase-2.x/src/main/java/com/google/cloud/bigtable/hbase2_x/BigtableTable.java
  bigtable-hbase-2.x-parent/bigtable-hbase-2.x/src/main/java/org/apache/hadoop/hbase/client/BigtableAsyncConnection.java
  bigtable-hbase-2.x-parent/bigtable-hbase-2.x/src/main/java/org/apache/hadoop/hbase/client/BigtableConnectionRegistry.java
  bigtable-hbase-2.x-parent/bigtable-hbase-2.x/src/test/java/com/google/cloud/bigtable/hbase/ManyThreadDriver.java
  bigtable-hbase-2.x-parent/bigtable-hbase-2.x/src/test/java/com/google/cloud/bigtable/hbase/RecreateConnectionDriver.java
  hbase-migration-tools/mirroring-client/pom.xml
  pom.xml
Labels: api: bigtable, automerge, size: l

#4338 deps: use hbase 2x & hadoop3 in beam import
  bigtable-client-core-parent/bigtable-hbase/src/main/java/com/google/cloud/bigtable/hbase/adapters/read/RowCell.java
  bigtable-dataflow-parent/bigtable-beam-import/pom.xml
  bigtable-dataflow-parent/bigtable-beam-import/src/main/java/com/google/cloud/bigtable/beam/hbasesnapshots/HBaseSnapshotInputConfigBuilder.java
  bigtable-dataflow-parent/bigtable-beam-import/src/main/java/com/google/cloud/bigtable/beam/hbasesnapshots/ImportJobFromHbaseSnapshot.java
  bigtable-dataflow-parent/bigtable-beam-import/src/main/java/com/google/cloud/bigtable/beam/sequencefiles/DataCellPredicateFactory.java
  bigtable-dataflow-parent/bigtable-beam-import/src/main/java/com/google/cloud/bigtable/beam/sequencefiles/ExportJob.java
  bigtable-dataflow-parent/bigtable-beam-import/src/main/java/com/google/cloud/bigtable/beam/sequencefiles/ImportJob.java
  bigtable-dataflow-parent/bigtable-beam-import/src/test/java/com/google/cloud/bigtable/beam/it/CloudBigtableBeamIT.java
  bigtable-dataflow-parent/bigtable-beam-import/src/test/java/com/google/cloud/bigtable/beam/sequencefiles/EndToEndIT.java
  bigtable-dataflow-parent/bigtable-beam-import/src/test/java/com/google/cloud/bigtable/beam/sequencefiles/SequenceFileSourceTest.java
  bigtable-dataflow-parent/bigtable-beam-import/src/test/java/com/google/cloud/bigtable/beam/sequencefiles/testing/BigtableTableUtils.java
  bigtable-dataflow-parent/bigtable-beam-import/src/test/java/com/google/cloud/bigtable/beam/validation/ComputeAndValidateHashFromBigtableDoFnTest.java
  bigtable-dataflow-parent/bigtable-hbase-beam/pom.xml
  bigtable-dataflow-parent/bigtable-hbase-beam/src/main/java/com/google/cloud/bigtable/beam/AbstractCloudBigtableTableDoFn.java
  bigtable-hbase-1.x-parent/bigtable-hbase-1.x-tools/src/test/java/com/google/cloud/bigtable/hbase/tools/HBaseSchemaTransformerTest.java
  third_party/third_party_hbase_server/src/main/import/com/google/cloud/bigtable/thirdparty/org/apache/hadoop/hbase/mapreduce/ResultSerialization.java
Labels: kokoro:force-run, api: bigtable, automerge, size: l

#4336 build: switch to manifest config
  .github/release-please.yml
  .release-please-manifest.json
  release-please-config.json
Labels: api: bigtable, size: s

#4339 feat: add integration test to illustrate minimum set of hbase dependencies required for bigtable-hbase-2x
  bigtable-hbase-1.x-parent/bigtable-hbase-1.x-integration-tests/pom.xml
  bigtable-hbase-2.x-parent/bigtable-hbase-2.x-integration-tests/pom.xml
  bigtable-hbase-2.x-parent/bigtable-hbase-2.x-integration-tests/src/test/java/com/google/cloud/bigtable/hbase/TestFilters.java
Labels: api: bigtable, automerge, size: l

#4341 chore: try to fix versions for next release
  versions.txt
Labels: api: bigtable, automerge, size: xs

#4342 feat: support the bare minimum of RegionMetrics to support RegionSize…
  bigtable-hbase-2.x-parent/bigtable-hbase-2.x/pom.xml
  bigtable-hbase-2.x-parent/bigtable-hbase-2.x/src/main/java/com/google/cloud/bigtable/hbase2_x/BigtableAdmin.java
  bigtable-hbase-2.x-parent/bigtable-hbase-2.x/src/main/java/com/google/cloud/bigtable/hbase2_x/BigtableAsyncAdmin.java
  bigtable-hbase-2.x-parent/bigtable-hbase-2.x/src/test/java/com/google/cloud/bigtable/BigtableAsyncAdminTest.java
Labels: api: bigtable, automerge, size: m

#4343 feat: add bigtable-hbase-2x-mapreduce artifact
  bigtable-hbase-2.x-parent/bigtable-hbase-2.x-mapreduce/pom.xml
  bigtable-hbase-2.x-parent/bigtable-hbase-2.x-mapreduce/src/main/java/com/google/cloud/bigtable/mapreduce/Driver.java
  bigtable-hbase-2.x-parent/bigtable-hbase-2.x-mapreduce/src/main/java/com/google/cloud/bigtable/mapreduce/Export.java
  bigtable-hbase-2.x-parent/bigtable-hbase-2.x-mapreduce/src/main/java/com/google/cloud/bigtable/mapreduce/Import.java
  bigtable-hbase-2.x-parent/bigtable-hbase-2.x-mapreduce/src/main/java/com/google/cloud/bigtable/mapreduce/ShuffledSequenceFileInputFormat.java
  bigtable-hbase-2.x-parent/bigtable-hbase-2.x-mapreduce/src/main/java/com/google/cloud/bigtable/mapreduce/hbasesnapshots/ImportHBaseSnapshotJob.java
  bigtable-hbase-2.x-parent/bigtable-hbase-2.x-mapreduce/src/main/java/com/google/cloud/bigtable/mapreduce/hbasesnapshots/ImportJobCommon.java
  bigtable-hbase-2.x-parent/bigtable-hbase-2.x-mapreduce/src/main/java/com/google/cloud/bigtable/mapreduce/hbasesnapshots/ShuffledTableMapReduceUtil.java
  bigtable-hbase-2.x-parent/bigtable-hbase-2.x-mapreduce/src/main/java/com/google/cloud/bigtable/mapreduce/hbasesnapshots/ShuffledTableSnapshotInputFormat.java
  bigtable-hbase-2.x-parent/bigtable-hbase-2.x-mapreduce/src/main/java/com/google/cloud/bigtable/mapreduce/validation/BigtableSyncMapper.java
  bigtable-hbase-2.x-parent/bigtable-hbase-2.x-mapreduce/src/main/java/com/google/cloud/bigtable/mapreduce/validation/BigtableSyncTableJob.java
  bigtable-hbase-2.x-parent/bigtable-hbase-2.x-mapreduce/src/main/java/org/apache/hadoop/hbase/mapreduce/BigtableSyncTableAccessor.java
  bigtable-hbase-2.x-parent/bigtable-hbase-2.x-mapreduce/src/main/java/org/apache/hadoop/hbase/mapreduce/BigtableTableHashAccessor.java
  bigtable-hbase-2.x-parent/bigtable-hbase-2.x-mapreduce/src/test/java/com/google/cloud/bigtable/mapreduce/hbasesnapshots/EndToEndIT.java
  bigtable-hbase-2.x-parent/bigtable-hbase-2.x-mapreduce/src/test/java/com/google/cloud/bigtable/mapreduce/hbasesnapshots/TestImportHBaseSnapshotJob.java
  bigtable-hbase-2.x-parent/bigtable-hbase-2.x-mapreduce/src/test/java/com/google/cloud/bigtable/mapreduce/hbasesnapshots/TestSnapshotMapper.java
  bigtable-hbase-2.x-parent/bigtable-hbase-2.x-mapreduce/src/test/java/com/google/cloud/bigtable/mapreduce/validation/TestBigtableSyncTableJob.java
  bigtable-hbase-2.x-parent/bigtable-hbase-2.x-mapreduce/src/test/java/com/google/cloud/bigtable/mapreduce/validation/TestValidationEndToEndIT.java
  bigtable-hbase-2.x-parent/bigtable-hbase-2.x-mapreduce/src/test/resources/log4j.properties
  bigtable-hbase-2.x-parent/pom.xml
  third_party/third_party_hbase_server/src/main/mapreduce/com/google/cloud/bigtable/thirdparty/org/apache/hadoop/hbase/mapreduce/Export.java
Labels: api: bigtable, automerge, size: xl

#4166 fix: Add paging to hbase client
  bigtable-client-core-parent/bigtable-hbase-integration-tests-common/src/test/java/com/google/cloud/bigtable/hbase/TestScan.java
  bigtable-client-core-parent/bigtable-hbase/src/main/java/com/google/cloud/bigtable/hbase/AbstractBigtableTable.java
  bigtable-client-core-parent/bigtable-hbase/src/main/java/com/google/cloud/bigtable/hbase/wrappers/DataClientWrapper.java
  bigtable-client-core-parent/bigtable-hbase/src/main/java/com/google/cloud/bigtable/hbase/wrappers/veneer/DataClientVeneerApi.java
  bigtable-client-core-parent/bigtable-hbase/src/main/java/com/google/cloud/bigtable/hbase/wrappers/veneer/SharedDataClientWrapper.java
  bigtable-client-core-parent/bigtable-hbase/src/test/java/com/google/cloud/bigtable/hbase/wrappers/veneer/TestDataClientVeneerApi.java
Labels: api: bigtable, size: l

#4350 deps: update versions and allow disabling client side metrics
  bigtable-client-core-parent/bigtable-hbase/src/main/java/com/google/cloud/bigtable/hbase/BigtableOptionsFactory.java
  bigtable-client-core-parent/bigtable-hbase/src/main/java/com/google/cloud/bigtable/hbase/wrappers/DataClientWrapper.java
  bigtable-client-core-parent/bigtable-hbase/src/main/java/com/google/cloud/bigtable/hbase/wrappers/veneer/BigtableHBaseVeneerSettings.java
  bigtable-client-core-parent/bigtable-hbase/src/main/java/com/google/cloud/bigtable/hbase/wrappers/veneer/DataClientVeneerApi.java
  bigtable-client-core-parent/bigtable-hbase/src/main/java/com/google/cloud/bigtable/hbase/wrappers/veneer/SharedDataClientWrapper.java
  bigtable-client-core-parent/bigtable-hbase/src/test/java/com/google/cloud/bigtable/hbase/wrappers/veneer/TestDataClientVeneerApi.java
  bigtable-dataflow-parent/bigtable-beam-import/pom.xml
  bigtable-dataflow-parent/bigtable-beam-import/src/test/java/com/google/cloud/bigtable/beam/test_env/EnvSetup.java
  bigtable-dataflow-parent/bigtable-hbase-beam/pom.xml
  bigtable-hbase-1.x-parent/bigtable-hbase-1.x-hadoop/pom.xml
  bigtable-hbase-1.x-parent/bigtable-hbase-1.x-shaded/pom.xml
  bigtable-hbase-2.x-parent/bigtable-hbase-2.x-hadoop/pom.xml
  bigtable-hbase-2.x-parent/bigtable-hbase-2.x-shaded/pom.xml
  bigtable-hbase-2.x-parent/bigtable-hbase-2.x/pom.xml
  bigtable-hbase-2.x-parent/bigtable-hbase-2.x/src/main/java/com/google/cloud/bigtable/hbase2_x/BigtableAsyncTable.java
  pom.xml
Labels: api: bigtable, size: m
